<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prahatrip-cz</title>
  </head>

  <body class="preload">
    {{> "../../chunks/topbar.hbs"}}
    {{> "../../chunks/navbar/prahatrip-cz/navbar.hbs"}}

    <div class="dke_menu-mobile _cool-dark" id="dke_menu-mobile">
      <nav class="dke_menu-mobile__nav">
        <ul class="dke_bottom-menu-mobile__list" role="tree">
          <br>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Sightseeing tours</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Restaurant boats</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Festive cruises</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Boats rental</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
    </body>

</html>