<h2>Блок с иконками</h2>
<section class="dke_advantages">
  <div class="dke_container">
    <div class="dke_advantages__item">
      <div class="dke_advantages__icon">
        <img src="../icons/advantages1.svg" alt="Преимущество">
      </div>
      <div class="dke_advantages__title">
        Unververgessliche Möglichkeit,
      </div>
      <div class="dke_advantages__text">
        die Stadt zu erkunden
      </div>
    </div>
    <div class="dke_advantages__item">
      <div class="dke_advantages__icon">
        <img src="../icons/advantages2.svg" alt="Преимущество">
      </div>
      <div class="dke_advantages__title">
        Flussreisen
      </div>
      <div class="dke_advantages__text">
        für jeden Geschmack
      </div>
    </div>
    <div class="dke_advantages__item">
      <div class="dke_advantages__icon">
        <img src="../icons/advantages3.svg" alt="Преимущество">
      </div>
      <div class="dke_advantages__title">
        Tägliche Erlebnisse
      </div>
      <div class="dke_advantages__text">
        das Ganze Jahr über
      </div>
    </div>
    <div class="dke_advantages__item">
      <div class="dke_advantages__icon">
        <img src="../icons/advantages4.svg" alt="Преимущество">
      </div>
      <div class="dke_advantages__title">
        Ein E-Ticket
      </div>
      <div class="dke_advantages__text">
        ohne Ausdrucken oder Warteschlangen
      </div>
    </div>
  </div>
</section>
