<div class="dke_banner-with-icon">
  <div class="dke_banner-with-icon__icon-wrapper">
    <img src="src/images/ticket.png" alt="">
  </div>
  <p class="dke_banner-with-icon__text">Метеор — самый красивый трансфер до праздника открытия фонтанов</p>
  <a class="dke_banner-with-icon__button dke_button dke_button_small-1 dke_button_link-color" href="https://nevatrip.ru/meteors/otkritie-fontanov-v-petergofe?utm_source=nevatrip&utm_medium=blog&utm_campaign=prazdnik-otkrytiya-fontanov-v-petergofe-data-programma-kak-dobratsya">Узнать больше</a>
</div>