<a href="#" class="dke_blog-item">
  <div class="dke_blog-item__preview">
    <div class="dke_blog-item__img">
      <img src="src/images/card.jpg" alt="">
    </div>
    <div class="dke_blog-item__time">
      <img src="src/images/card.jpg" alt="">
      6 минут
    </div>
  </div>
  <div class="dke_blog-item__title">
    Топ мест для фото в Петербурге — 
    гайд для фотографов и любителей
  </div>
  <div class="dke_blog-item__date">
    12.07.2022
  </div>
</a>