<div class="dke_blog__aside-item dke_aside-item">
  <h4 class="dke_blog__aside-header">Полезные статьи:</h4>
  <ul class="dke_blog__aside-links">
    <li class="dke_blog__aside-link-item">
      <a class="dke_blog__aside-link" href="https://nevatrip.ru/blog/zakrytie-fontanov-v-petergofe">
        Закрытие фонтанов в Петергофе 2022
      </a>
    </li>
    <li class="dke_blog__aside-link-item">
      <a class="dke_blog__aside-link" href="https://nevatrip.ru/blog/zakrytie-fontanov-v-petergofe">
        Реки и каналы Санкт-Петербурга: выбираем интересные экскурсии вместе
      </a>
    </li>
    <li class="dke_blog__aside-link-item">
      <a class="dke_blog__aside-link" href="https://nevatrip.ru/blog/zakrytie-fontanov-v-petergofe">
        Топ самых красивых мест Карелии
      </a>
    </li>
    <li class="dke_blog__aside-link-item">
      <a class="dke_blog__aside-link" href="https://nevatrip.ru/blog/zakrytie-fontanov-v-petergofe">
        Открытие фонтанов в Петергофе 2022: все, что нужно знать перед поездкой
      </a>
    </li>
    <li class="dke_blog__aside-link-item">
      <a class="dke_blog__aside-link" href="https://nevatrip.ru/blog/zakrytie-fontanov-v-petergofe">
        Выходные по-шведски: как добраться в крепость Орешек
      </a>
    </li>
  </ul>
</div>