<div class="dke_blog-inner-content">
  <div class="dke_container dke_container_small">
    <div class="dke_blog-inner-content__title">
      Как празднуется День ВМФ в Санкт-Петербурге в 2022 году
    </div>
    <div class="dke_blog-inner-content__info">
      <div class="dke_blog-inner-content__date">
        26.07.2022
      </div>
      <div class="dke_blog-inner-content__readtime">
        6 минут
      </div>
    </div>
    <div class="dke_blog-inner-content__container">
      <p>
        <span>
          Привет! Скоро наступает экватор лета, а это значит что в Петербург приходит еще одно событие, 
          которое так любят петербуржцы и гости города. Уже 31 июля вся страна будет отмечать главный 
          праздник Военно-морского флота. В этой статье расскажем, как его планируют проводить в 2022 
          году и что можно посмотреть в Санкт-Петербурге в этот день.
        </span>
      </p>
      <p>
        <span>
          <div class="dke_article__img">
            <img src="src/images/card.jpg" alt="@nevatrip.ru">
            <span class="dke_article__img-author">
              @nevatrip.ru
            </span>
          </div>
        </span>
      </p>
      <div class="h3">
        Содержание
      </div>
      <ol class="article__contents">
        <li class="article__contents-li">
          <a href="#article_1" class="article__contents-li-a">
            Как отмечают день ВМФ в Санкт-Петербурге в 2022 году: программа мероприятия
          </a>
        </li>
        <li class="article__contents-li">
          <a href="#article_2" class="article__contents-li-a">
            Полезные советы
          </a>
        </li>
        <h2 class="h2" id="article_1">
          Как отмечают день ВМФ в Санкт-Петербурге в 2022 году: программа мероприятия
        </h2>

        <p>
          <span>
            Как появился праздник День ВФМ рассказывать рассказывать не будем. Википедия сделает это лучше. 
            Так что сразу перейдем к актуальной программе мероприятия.
          </span>
        </p>
        <h3>
          <strong>
            Военный парад
          </strong>
        </h3>
        <p>
          <span>
            Каждый год ровно в 11:00 начинается главный военно-морской парад, в котором принимают участие 
            суда и авиация со всей страны. Сам праздник начинается с символического поднятия Андреевского 
            флага. Только после этого в центральной
            акватории Невы стартует главная часть мероприятия.
          </span>
        </p>

        <p>
          <span>
            <div class="dke_article__img">
              <img src="src/images/card.jpg" alt=""/>
            </div>
          </span>
        </p>

        <p>
          <span>
            В этом году основные набережные будут открыты для всех, так что насладиться парадом сможет 
            каждый желающий. Также весь парад будет транслироваться на больших экранах на Дворцовой площади. 
            Все приглашенные гости разместятся на
            трибунах, которые будут установлены на Английской набережной. Для тех, кто не хочет смотреть парад в 
            толпе, есть и другие варианты. Например, парад будет хорошо просматриваться с колоннады Исаакиевского 
            собора и панорамных ресторанов
            с видом на Неву.
          </span>
        </p>
        <p class="p1"></p>
        <p class="dke_article__info">
          <span>
            28 июля также в 11:00 будет проходить генеральная репетиция парада. Он не будет уступать по масштабности 
            официальную параду, так что вы вполне можете увидеть проход военных кораблей и авиации в этот день.
          </span>
        </p>
        <p></p>
        <p>
          <span>
            <strong>
              Время начала официального парада:
            </strong> 
            11:00.
          </span>
        </p>
        <p>
          <span>
            <strong>
              Стоимость входа:
            </strong> 
            бесплатно.
          </span>
        </p>
        <p>
          <span>
            <strong>
              Набережные для просмотра:
            </strong> 
            Дворцовая, Университетская, Воскресенская, Пироговская, Арсенальная.
          </span>
        </p>

        <h3>
          <strong>
            Праздничный салют
          </strong>
        </h3>
        <p>
          <span>
            Завершает все красочное событие по традиции салют у стен Петропавловской крепости.
          </span>
          <span>
            Посмотреть на него вместе с остальными желающими можно также с одной из набережных в центре города. 
            Для тех, кто хочет сделать этот вечер более особенным и увидеть салют с самого выигрышного ракурса, 
            советуем рассмотреть варианты
            покупки билета на водную прогулку под салют в честь дня ВМФ. Во время такого круиза теплоход выйдет в 
            Центральную акваторию Невы и встанет недалеко от Петропавловской крепости рядом с военными кораблями.
          </span>
        </p>
        {{> "banner-with-icon"}}
        <p>
          <span>
            <strong>
              Стоимость билета:
            </strong> 
            взрослый билет — 3690 рублей, детский билет — 3290 рублей.
          </span>
        </p>
        <p><span></span></p>

        <p>
          <span>
            <strong>
              Набережные для просмотра:
            </strong> 
            Дворцовая, Университетская, Английская.
          </span>
        </p>
        <p>
          <span>
            <div class="dke_article__img">
              <img src="src/images/card.jpg" alt=""/>
            </div>
          </span>
        </p>
        <h2 class="h2" id="article_2">
          Полезные советы
        </h2>

        <ul>
          <li>
            <span>
              31 июля центр города будет частично перекрываться. Если в планах доехать до мероприятия на машине, 
              то советуем заранее посмотреть план ограничения движения транспорта на 
            </span>
            <a href="#" rel="nofollow noopener" target="_blank">
              <span>
                официальном сайте
              </span>
            </a>
            <span>.</span>
          </li>
          <li aria-level="1">
            <span>
              Чтобы посмотреть на военные корабли, совершенно необязательно идти на парад и стоять в 
              огромной толпе. Весь день 30 и 31 июля корабли будут стоять в Центральной акватории Невы, 
              так что каждый желающий может полюбоваться ими с
              набережных или подойти прямо вплотную на теплоходе или катере во время водной прогулки.
            </span>
          </li>
        </ul>
      </ol>
    </div>
  </div>
</div>