<div class="dke_blog__content dke_lead">
  <p>
    Привет! Садись поудобнее, сейчас мы расскажем все самое важное о ежегодном празднике открытия фонтанов в 2022.
  </p>
  <br>
  <p>
    Торжественное открытие фонтанов Петергофа — традиция, которую точно стоит хоть раз увидеть своими глазами. Каждый год организаторы мероприятия подготавливают уникальное театрализованное шоу для всех гостей, которые зачастую приезжают в Петербург со всей России только ради того, чтобы стать частью этой традиции. В прошлые годы коронавирусная судьба сыграла с нами и Петергофом злую шутку. Готовимся, в этом году нас ждет праздник двойного масштаба. Погнали за подробностями!
  </p>
  <br>
  <h5>
    Когда будет проходить торжественное открытие фонтанов в 2022 году?
  </h5>
  <p>
    Предварительная дата праздника в этом году — 21 мая. Ориентировочно мероприятие начинается в 13:00, но мы всегда советуем приезжать чуть заранее, чтобы успеть прогуляться по украшенному Петергофу и найти лучший ракурс для просмотра шоу. Правда, сами фонтаны начинают свою работу уже 23 апреля. Так что если для тебя не так важна вся официальная часть и шоу, то вполне можно полюбоваться Петергофом за несколько недель до официального праздника.
  </p>
  <br>
  <p>
    В день самого праздника, 21 мая, добраться до работающих фонтанов Петергофа можно на самом популярном трансфере. Метеоры в Петергоф начинают навигацию уже с 1 мая.
  </p>
  <br>
  {{> "banner-with-icon"}}
  <br>
  <h5>
    Какую программу праздника ждать в этом году?
  </h5>
  <p>
    Площадка проведения из года в год не меняется, и шоу всегда проводится на фоне Большого Петергофского дворца. Тематику мероприятия на 2022 год организаторы уже обозначили. Надеемся, их планы внезапно не поменяются. Так, мероприятие в этом раз будет посвящено 350-летию Петра I.
  </p>
  <p>
    Нас ждет:
  </p>
  <ul>
    <li>
      театрализованное шоу с участием артистов оперы и балета, а также студентов СПбГИК;
    </li>
    <li>
      официальный запуск фонтанов в формате водного музыкального представления;
    </li>
    <li>
      пушечный залп и пиротехническое шоу, которым завершается праздник и открывается летний сезон.
    </li>
  </ul>
  <br>
  <h5>
    Как удобнее всего добраться до праздника?
  </h5>
  <p>
    Есть несколько самых популярных вариантов, которыми пользуются петербуржцы и гости города:
  </p>
  <ul>
    <li>
      Метеоры по Финскому заливу от Адмиралтейской набережной, 2. Время в пути: 40 минут. За билетами — <a href="https://nevatrip.ru/meteors/otkritie-fontanov-v-petergofe?utm_source=nevatrip&utm_medium=blog&utm_campaign=prazdnik-otkrytiya-fontanov-v-petergofe-data-programma-kak-dobratsya">сюда</a>.
    </li>
    <li>
      Электричка от Балтийского вокзала до станции «Новый Петергоф». Время в пути: 40 минут.
    </li>
    <li>
      Маршрутки от станций метро «Автово», «Ленинский проспект», «Проспект Ветеранов» и «Балтийская». Время в пути: 40 минут.
    </li>
  </ul>
  <br>
  <p>
    Советуем, друг, не торопиться уезжать из Петергофа сразу же после окончания праздника и оставить время на прогулку по парку. Поверь, оно того стоит. До встречи на открытии!
  </p>
  <br>
</div>