<div class="dke_blog__aside-item dke_aside-item">
  <h4 class="dke_blog__aside-header">Подписка на блог</h4>
  <form class="dke_blog__subscribe-form">
    <input class="dke_blog__aside-input dke_input" placeholder="Ваш e-mail адрес" type="text">
    <button class="dke_blog__subscribe-button dke_button" type="submit">ОК</button>
  </form>
</div>