<div class="dke_blog__aside-item dke_aside-item">
  <h4 class="dke_blog__aside-header">Мы в социальных сетях</h4>
  <ul class="dke_blog__aside-socials dke_social">
    <li class="dke_social__item dke_social-item">
      <a class="dke_social-item__link" href="https://vk.com/neva.trip" target="_blank">
        <img class="dke_social-item__icon dke_social-item__icon_large" src="src/icons/vk-dark.system.svg" alt="ВКонтакте">
      </a>
    </li>
    <li class="dke_social__item dke_social-item dke_social-item_large">
      <a class="dke_social-item__link" href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q" target="_blank">
        <img class="dke_social-item__icon dke_social-item__icon_large" src="src/icons/youtube-dark.system.svg" alt="YouTube">
      </a>
    </li>
    <li class="dke_social__item dke_social-item dke_social-item_large">
      <a class="dke_social-item__link" href="https://www.instagram.com/nevatrip.ru/" target="_blank">
        <img class="dke_social-item__icon dke_social-item__icon_large" src="src/icons/instagram-dark.system.svg" alt="Instagram">
      </a>
    </li>
  </ul>
</div>