<div class="dke_blog-list">
  <div class="dke_container dke_container_small">
    <div class="dke_blog-list__title">
      Полезные статьи о Петербурге
    </div>
    <div class="dke_blog-list__content">
      {{> "blog-item"}}
      {{> "blog-item"}}
      {{> "blog-item"}}
    </div>
  </div>
</div>