<div class="dke_container {{#if container}}dke_container_{{container}} {{/if}}">
  <ol class="dke_breadcrumbs">
    <li>
      <a href="#">
        Главная
      </a>
    </li>
    <li>
      <span>
        Автобусные экскурсии по Москве
      </span>
    </li>
  </ol>
</div>