<div class="dke_buy-box">
  <h4>Купить билет на метеор в Петергоф всего за</h4>
  <div class="dke_price-box">
    <div class="dke_price">
      4490
      <img src="src/icons/ruble.system.svg" alt="Рубль">
      <small class="dke_sub-price">
        1500
        <img src="src/icons/ruble.system.svg" alt="Рубль">
        на причале
      </small>
    </div>
    <a href="#" class="dke_button">
      Выбрать дату
    </a>
  </div>
</div>