<div class="dke_buy-box">
  <h4>Купить билет на метеор в Петергоф всего за</h4>
  <div class="dke_price-box dke_price-box_justified">
    <div class="dke_price-box__price">
      950&nbsp;₽
      <small class="dke_price-box__sub-price">
        1000&nbsp;₽ на причале
      </small>
    </div>
    <a href="#" class="dke_button dke_button_not-shrink">
      Выбрать дату
    </a>
  </div>
  {{> "remind-me"}}
</div>