<nav class="dke_cruise-menu">
  <div class="dke_cruise-menu__wrapper">
    <ul class="dke_cruise-menu__list dke_container">
      <li class="dke_cruise-menu__list-item">
        <a class="dke_cruise-menu__list-link" href="#cruisesAnchor1">
          О круизе
        </a>
      </li>
      <li class="dke_cruise-menu__list-item">
        <a class="dke_cruise-menu__list-link" href="#cruisesAnchor2">
          Программа
        </a>
      </li>
      <li class="dke_cruise-menu__list-item">
        <a class="dke_cruise-menu__list-link" href="#cruisesAnchor3">
          О теплоходе
        </a>
      </li>
      <li class="dke_cruise-menu__list-item">
        <a class="dke_cruise-menu__list-link" href="#cruisesAnchor4">
          Каюты и цены
        </a>
      </li>
      <li class="dke_cruise-menu__list-item">
        <a class="dke_cruise-menu__list-link" href="#cruisesAnchor5">
          FAQ
        </a>
      </li>
    </ul>
  </div>
</nav>
