<div class="dke_faq">
  <h3 class="dke_faq__title">
    Часто задаваемые вопросы
  </h3>
  <ul role="tablist" class="dke_faq__tabs">
    <li class="dke_faq__tabs-item dke_item-tabs-faq _active" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-1" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
          <svg aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 38">
            <path d="M30.65 18.707a1.13 1.13 0 00-1.316-.002c-.393.281-.56.78-.414 1.238.563 1.767.143 3.523-.308 4.685-.582 1.498-1.582 2.947-2.745 3.974-1.212 1.07-2.471 1.55-3.208 1.221-.39-.173-1.297-.909-1.297-3.989V14.216h2.827a2.29 2.29 0 002.297-2.277V9.523a2.29 2.29 0 00-2.297-2.278h-3.417a4.12 4.12 0 001.41-3.1C22.182 1.86 20.307 0 18.002 0c-2.305 0-4.18 1.86-4.18 4.145a4.12 4.12 0 001.41 3.1h-3.417a2.29 2.29 0 00-2.298 2.279v2.415a2.29 2.29 0 002.298 2.277h2.82l.003 11.583v.035c0 3.08-.907 3.816-1.297 3.989-.737.328-1.996-.152-3.208-1.221-1.163-1.027-2.163-2.476-2.745-3.974-.451-1.162-.87-2.919-.308-4.685a1.108 1.108 0 00-.414-1.238 1.13 1.13 0 00-1.316.002C1.881 21.2.132 24.49 0 28.762c-.012.398.191.772.533.981.341.21.769.222 1.122.033l1.308-.698c2.955 5.455 8.732 8.92 15.035 8.921h.003c6.304-.001 12.08-3.466 15.036-8.921l1.308.698c.353.189.781.176 1.123-.033.34-.209.544-.583.531-.98-.13-4.274-1.88-7.564-5.35-10.057zm-7.72-9.235h1.26c.027 0 .05.023.05.052v2.415a.051.051 0 01-.05.05h-1.26V9.473zm-9.857 2.518h-1.258a.051.051 0 01-.052-.052V9.524c0-.029.023-.052.052-.052h1.258v2.518zm4.929-9.763c1.067 0 1.934.86 1.934 1.918a1.929 1.929 0 01-1.934 1.919 1.929 1.929 0 01-1.935-1.919c0-1.058.868-1.918 1.935-1.918zm-2.683 7.245h5.366v2.518h-5.366V9.472zm17.758 17.1a1.131 1.131 0 00-.894-.075 1.12 1.12 0 00-.663.599c-2.388 5.27-7.695 8.677-13.52 8.677-5.825 0-11.132-3.406-13.52-8.678a1.12 1.12 0 00-.663-.598 1.132 1.132 0 00-.894.074l-.46.246c.33-1.696 1.028-3.153 2.124-4.427.072.992.307 2.013.705 3.038.716 1.845 1.905 3.563 3.347 4.836 1.958 1.729 4.007 2.308 5.621 1.59 2.168-.963 2.623-3.805 2.623-6.02l-.002-11.618h2.235v11.618c0 2.215.456 5.057 2.623 6.02 1.615.719 3.664.139 5.621-1.59 1.442-1.273 2.631-2.99 3.348-4.836.397-1.025.633-2.046.705-3.038 1.096 1.274 1.794 2.731 2.124 4.427l-.46-.245z" fill="#959595"></path>
          </svg>
        </div>
        <span>
          На борту
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-2" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
            <path d="M23.926 27.474a1.367 1.367 0 100-2.735 1.367 1.367 0 000 2.735zM18.457 15.169h-9.57a1.367 1.367 0 100 2.734h9.57a1.367 1.367 0 100-2.734zM15.176 19.954h-6.29a1.367 1.367 0 100 2.734h6.29a1.367 1.367 0 100-2.734z" fill="#959595"></path>
            <path d="M33.905 19.311A1.367 1.367 0 0035 17.971v-3.486a5.475 5.475 0 00-5.469-5.469H5.47c-.396 0-.782.044-1.154.124.175-.08.361-.144.556-.188l21.378-4.79a2.41 2.41 0 012.706 1.374 1.367 1.367 0 002.501-1.105 5.154 5.154 0 00-5.8-2.938L4.273 6.284c-1.208.271-2.3.952-3.073 1.919A5.488 5.488 0 000 11.62v6.35c0 .651.458 1.211 1.095 1.34a2.056 2.056 0 011.64 2.01c0 .972-.69 1.817-1.64 2.01C.458 23.46 0 24.02 0 24.67v3.486a5.475 5.475 0 005.469 5.469H29.53A5.475 5.475 0 0035 28.157v-3.486c0-.65-.458-1.21-1.095-1.34a2.056 2.056 0 01-1.64-2.01c0-.971.69-1.817 1.64-2.01zm-1.64-2.313a4.805 4.805 0 00-2.734 4.323c0 1.873 1.1 3.546 2.735 4.324v2.512a2.737 2.737 0 01-2.735 2.735h-4.238a1.367 1.367 0 10-2.734 0H5.469a2.737 2.737 0 01-2.735-2.735v-2.512A4.805 4.805 0 005.47 21.32c0-1.873-1.1-3.545-2.735-4.323v-2.513a2.738 2.738 0 012.735-2.734h17.09a1.367 1.367 0 102.734 0h4.238a2.738 2.738 0 012.735 2.734v2.513z" fill="#959595"></path>
            <path d="M23.926 17.903a1.367 1.367 0 100-2.734 1.367 1.367 0 000 2.734zM23.926 22.688a1.367 1.367 0 100-2.734 1.367 1.367 0 000 2.734z" fill="#959595"></path>
          </svg> 
        </div>
        <span>
          Перенос и возврат билетов
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-3" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33">
            <path d="M16.5 0C7.402 0 0 7.402 0 16.5 0 25.598 7.402 33 16.5 33 25.598 33 33 25.598 33 16.5 33 7.402 25.598 0 16.5 0zm0 30.848c-7.911 0-14.348-6.437-14.348-14.348C2.152 8.589 8.59 2.152 16.5 2.152c7.911 0 14.348 6.437 14.348 14.348 0 7.911-6.437 14.348-14.348 14.348z" fill="#959595"></path>
            <path d="M16.5 7.174c-5.142 0-9.326 4.184-9.326 9.326 0 5.143 4.184 9.326 9.326 9.326 5.143 0 9.326-4.183 9.326-9.326 0-5.142-4.183-9.326-9.326-9.326zm0 16.5c-3.956 0-7.174-3.218-7.174-7.174 0-3.956 3.218-7.174 7.174-7.174 3.956 0 7.174 3.218 7.174 7.174 0 3.956-3.218 7.174-7.174 7.174z" fill="#959595"></path>
            <path d="M19.948 23.486l-1.522 1.521 5.309 5.31 1.521-1.522-5.308-5.31zM25.008 18.432l-1.522 1.521 5.309 5.31 1.521-1.522-5.308-5.31zM4.202 7.773L2.686 9.3l5.344 5.308 1.517-1.527-5.345-5.308zM9.3 2.686L7.773 4.202l5.309 5.345 1.527-1.517L9.3 2.686zM7.78 18.426l-5.344 5.308 1.517 1.527 5.344-5.308-1.517-1.527zM12.836 23.484l-5.308 5.31 1.522 1.521 5.308-5.31-1.522-1.52zM23.735 2.435L18.427 7.78l1.527 1.516 5.308-5.344-1.527-1.517zM28.795 7.527l-5.31 5.308 1.522 1.522 5.31-5.308-1.522-1.522z" fill="#959595"></path>
          </svg>
        </div>
        <span>
          Посадка на теплоход
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-3" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
          <svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clipothers)">
              <path d="M5.148 22.535a1.223 1.223 0 01-1.191-1.495l1.48-6.518-5.019-4.4a1.221 1.221 0 01.693-2.14l6.64-.603 2.625-6.143a1.222 1.222 0 012.248 0l2.625 6.143 6.638.603a1.222 1.222 0 01.695 2.14l-5.018 4.4 1.48 6.517a1.222 1.222 0 01-1.819 1.32L11.5 18.94 5.775 22.36c-.194.115-.41.174-.627.174zm6.352-5.07c.217 0 .433.058.627.173l5.403 3.231-1.396-6.152c-.1-.437.049-.895.387-1.19l4.738-4.156-6.269-.57a1.22 1.22 0 01-1.016-.74L11.5 2.264 9.023 8.062A1.218 1.218 0 018.01 8.8l-6.27.569 4.738 4.155c.34.297.488.754.387 1.193L5.47 20.868l5.403-3.23c.194-.115.41-.174.627-.174zM7.7 7.497L7.7 7.5l.001-.002zm7.598-.003v0z" fill="#959595"></path>
            </g>
            <defs>
              <clipPath id="clipothers">
                <path fill="#959595" d="M0 0h23v23H0z"></path></clipPath>
              </defs>
          </svg>
        </div>
        <span>
          Другое
        </span>
      </button>
    </li>    
  </ul>

  <div class="dke_faq__tabs-content dke_content-tabs-faq">
    <div role="tabpanel" class="dke_content-tab-faq _active" id="panel-1">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-2">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-3">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-4">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>