<footer class="dke_footer">
  <div class="dke_footer__container">
    <div class="dke_container">
      <address class="dke_footer__contacts">
        <div class="dke_footer__contact dke_footer__contact_tel">
          <a href="tel:88888888888">8 888 888-88-88</a>
          <span>(10:00&nbsp;—&nbsp;19:00)</span>
        </div>
        <div class="dke_footer__contact dke_footer__contact_mail">
          <a href="mailto:info@mail.ru">info@mail.ru</a>
        </div>
      </address>
      <div class="dke_footer__links">
        <a href="#" class="dke_footer__link">О нас</a>
        <a href="#" class="dke_footer__link">Оферта</a>
        <a href="#" class="dke_footer__link">Контакты</a>
        <a href="#" class="dke_footer__link">Наш Блог</a>
        <a href="#" class="dke_footer__link">Видеоблог</a>
        <a href="#" class="dke_footer__link">Магазин</a>
        <a href="#" class="dke_footer__link">Сотрудничество</a>
      </div>
      <div class="dke_footer__socials-block">
        <ul class="dke_social">
          <li class="dke_social__item dke_social-item">
            <a
              class="dke_social-item__link"
              href="https://www.instagram.com/nevatrip.ru/"
            >
              <img
                class="dke_social-item__icon"
                src="../icons/instagram-gray.svg"
                alt="Instagram"
              >
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a
              class="dke_social-item__link"
              href="https://vk.com/neva.trip"
            >
              <img
                class="dke_social-item__icon"
                src="../icons/vk-gray.svg"
                alt="ВКонтакте"
              >
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a
              class="dke_social-item__link"
              href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q"
            >
              <img
                class="dke_social-item__icon"
                src="../icons/youtube-gray.svg"
                alt="YouTube"
              >
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a
              class="dke_social-item__link"
              href="https://t.me/NevatripBot"
            >
              <img
                class="dke_social-item__icon"
                src="../icons/telegram-gray.svg"
                alt="Telegram"
              >
            </a>
          </li>
        </ul>
        <a href="#" class="dke_footer__social-link">
          <img src="../icons/telegram-bot.svg" alt="telegram-bot">
          <span>чат-бот в telegram</span>
        </a>
      </div>
    </div>
  </div>
  <div class="dke_footer__disclaimer">
    <div class="dke_container">
      <div class="dke_footer__copyright">
        ©2014-2022, Copyright text
      </div>
      <div class="dke_footer__pay">
        <img src="../icons/footer-pay.svg" alt="Способы оплаты">
      </div>
    </div>
  </div>
</footer>