<footer class="dke_footer">
  <div class="dke_footer__container">
    <div class="dke_container">
      <address class="dke_footer__contacts">
        <div class="dke_footer__contact">
          <a href="tel:88888888888" class="dke_footer__contact_tel">
            <span>8 888 888-88-88</span>
          </a>
          <span>
            (10:00&nbsp;—&nbsp;19:00)
          </span>
        </div>
        <div class="dke_footer__contact">
          <a href="mailto:info@mail.ru" class="dke_footer__contact_mail">
            <span>info@mail.ru</span>
          </a>
        </div>
      </address>
      <div class="dke_footer__links">
        <a href="#" class="dke_footer__link">
          О нас
        </a>
        <a href="#" class="dke_footer__link">
          Оферта
        </a>
        <a href="#" class="dke_footer__link">
          Контакты
        </a>
        <a href="#" class="dke_footer__link">
          Наш Блог
        </a>
        <a href="#" class="dke_footer__link">
          Видеоблог
        </a>
        <a href="#" class="dke_footer__link">
          Магазин
        </a>
        <a href="#" class="dke_footer__link">
          Сотрудничество
        </a>
      </div>
      <div class="dke_footer__socials-block">
        <ul class="dke_social">
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link" href="https://www.instagram.com/nevatrip.ru/" target="_blank">
              <img class="dke_social-item__icon" src="src/icons/instagram-gray.system.svg" alt="Instagram">
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link" href="https://vk.com/neva.trip" target="_blank">
              <img class="dke_social-item__icon" src="src/icons/vk-gray.system.svg" alt="ВКонтакте">
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link" href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q" target="_blank">
              <img class="dke_social-item__icon" src="src/icons/youtube-gray.system.svg" alt="YouTube">
            </a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link" href="https://t.me/NevatripBot" target="_blank">
              <img class="dke_social-item__icon" src="src/icons/telegram-gray.system.svg" alt="Telegram">
            </a>
          </li>
        </ul>
        <a href="#" class="dke_footer__social-link">
          <img src="src/icons/telegram-bot.system.svg" alt="telegram-bot">
          <span>
            чат-бот в telegram
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="dke_footer__disclaimer">
    <div class="dke_container">
      <div class="dke_footer__copyright">
        ©2014-2022, Copyright text
      </div>
      <div class="dke_footer__pay">
        <img src="src/icons/footer-pay.svg" alt="Способы оплаты">
      </div>
    </div>
  </div>
</footer>