<div class="dke_gallery-container">
  <h4>Галерея</h4>

  <div class="swiper dke_gallery-container__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="src/images/gallery.jpg">
          <img src="src/images/gallery.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="src/images/gallery.jpg">
          <img src="src/images/gallery.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="src/images/gallery.jpg">
          <img src="src/images/gallery.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="src/images/gallery.jpg">
          <img src="src/images/gallery.jpg" alt="">
        </a>
      </div>
    </div>
    
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
