<section class="dke_iconlinks">
  <div class="dke_container">
    <a href="#" class="dke_iconlinks__item">
      <div class="dke_iconlinks__icon">
        <img src="src/icons/default.svg" alt="Преимущество">
      </div>
      <div class="dke_iconlinks__title">
        <span>
          Unververgessliche Möglichkeit,
        </span>
      </div>
    </a>
    <a href="#" class="dke_iconlinks__item">
      <div class="dke_iconlinks__icon">
        <img src="src/icons/default.svg" alt="Преимущество">
      </div>
      <div class="dke_iconlinks__title">
        <span>
          Unververgessliche Möglichkeit,
        </span>
      </div>
    </a>
    <a href="#" class="dke_iconlinks__item">
      <div class="dke_iconlinks__icon">
        <img src="src/icons/default.svg" alt="Преимущество">
      </div>
      <div class="dke_iconlinks__title">
        <span>
          Unververgessliche Möglichkeit,
        </span>
      </div>
    </a>
    <a href="#" class="dke_iconlinks__item">
      <div class="dke_iconlinks__icon">
        <img src="src/icons/default.svg" alt="Преимущество">
      </div>
      <div class="dke_iconlinks__title">
        <span>
          Unververgessliche Möglichkeit,
        </span>
      </div>
    </a>
    <a href="#" class="dke_iconlinks__item">
      <div class="dke_iconlinks__icon">
        <img src="src/icons/default.svg" alt="Преимущество">
      </div>
      <div class="dke_iconlinks__title">
        <span>
          Unververgessliche Möglichkeit,
        </span>
      </div>
    </a>
  </div>
</section>
<hr class="short">