<div id="dke_live-notify" class="dke_live-notify" data-time-visible="15000">
  <button type="button" class="close dke_live-notify__close"><span>×</span></button>
  <p class="dke_live-notify__text">
    Авторская экскурсия 
    <br>с тайным маршрутом 
    <br>сегодня в 20:30.
    <br>Покатаемся?
  </p>
  <div class="dke_live-notify__bg">
    <img src="src/images/denis.png" alt="">
  </div>
  <a href="#" class="dke_live-notify__link">Заглянуть</a>
</div>