<div class="dke_map">
  {{#if container}}
  <div class="dke_container">
  {{else}}
    <h4>Карта маршрута</h4>
  {{/if}}
    <iframe src="https://www.google.com/maps/d/embed?mid=1vRxv9k8rtkElbEAlSj-3y_1DpCk&amp;hl=ru" width="100%" height="480"></iframe>
  {{#if container}}
  </div>
  {{/if}}
</div>