<div class="dke_menu-links">
  <h4 class="dke_menu-links__title">Как еще можно отправиться на прогулку под парусом?</h4>
  <div class="dke_menu-links__wrapper">
    <a class="dke_menu-links__link" style="background: #FCF4D0;" href="https://duckpacker.com/sailing-certificate">
      <div class="dke_menu-links__link-icon">
        <img src="src/icons/default.svg" alt="Подарочный сертификат">
      </div>
      <span>Подарочный сертификат</span>
    </a>
    <a class="dke_menu-links__link" style="background: #F5EBFF;" href="https://nevatrip.ru/arenda-teplokhoda/parusnaya-yahta">
      <div class="dke_menu-links__link-icon" >
        <img src="src/icons/default.svg" alt="Аренда яхты">
      </div>
      <span>Аренда яхты</span>
    </a>
    <a class="dke_menu-links__link" style="background: #EFEFEF;" href="https://drive.google.com/file/d/15a2dtAt-_nLm0Q6X7LwaDYITTZN504uZ/view" target="_blank">
      <div class="dke_menu-links__link-icon" >
        <img src="src/icons/default.svg" alt="Экскурсии">
      </div>
      <span>Экскурсии</span>
    </a>
  </div>
</div>