<div class="dke_modal">
  <div class="dke_modal__window">
    <div class="dke_modal__header">Узнать о старте продаж</div>
    <form class="dke_modal__form">
      <input class="dke_modasl__input dke_input" placeholder="E-mail" type="text">
      <button class="dke_modal__button dke_button" type="submit">Узнать</button>
    </form>
  </div>
</div>