<div class="dke_navbar__head dke_head-navbar">
    <div class="dke_container">
        <button class="dke_head-navbar__btn" type="button" aria-haspopup="true" aria-controls="dke_menu-mobile" aria-expanded="false">
            Кнопка снизу
        </button>
    </div>
</div>
