<div class="dke_offer">
  <h5 class="dke_offer__text">Для тех, кто любит самостоятельные прогулки: трансфер на метеоре без экскурсии</h5>
  <div class="dke_offer__img">
    <img src="src/images/banner-bg.jpg" alt="Метеор в Кронштадт или обратно">
  </div>
  <div class="dke_offer__inner">
    <div class="dke_offer__price">
      <div class="dke_offer__price-value">
        1000&nbsp;₽
      </div>
      <a href="/buy-tickets?id=294&amp;utm_source=nevatrip.ru&amp;utm_medium=15&amp;utm_campaign=294" class="dke_button dke_button_small-2">
        Выбрать дату
      </a>
    </div>
    <div class="dke_offer__content">
      <div class="dke_offer__caption">Метеор в Кронштадт или обратно</div>
      <ul class="dke_offer__list">
        <li class="dke_offer__list-item dke_item-offer">
          <div class="dke_item-offer__icon">
            <img src="src/icons/schedule.system.svg" alt="•">
          </div>
          <span class="dke_item-offer__text">
            ежедневно туда в 10:25, 12:25 обратно в 15:40, 17:10
          </span>
        </li>
        <li class="dke_offer__list-item dke_item-offer">
          <div class="dke_item-offer__icon">
            <img src="src/icons/placemark.system.svg" alt="•">
          </div>
          <a href="https://yandex.ru/maps/-/CCUeIPC0hD" target="_blank">
            причал «Сенатская пристань»
          </a>
        </li>
        <li class="dke_offer__list-item dke_item-offer">
          <div class="dke_item-offer__icon">
            <img src="src/icons/anchor.system.svg" alt="•">
          </div>
          <span class="dke_item-offer__text">
            метеор на подводных крыльях
          </span>
        </li>
      </ul>
    </div>
    <div class="dke_offer__bottom-desc">123</div>
  </div>
</div>