<div class="dke_prices" id="cruisesAnchor4">
  <h3 class="dke_prices__title dke_subtitle">
    Каюты и цены
  </h3>
  <table class="dke_prices__table">
    <tbody>
      <tr>
        <th>
          <strong>Категория каюты</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>Палуба</strong>
        </th>
        <th>
          <strong>&nbsp;Цена (руб. с чел.)&nbsp;</strong>
        </th>
      </tr>
      <tr>
        <td>
          <strong>Категория каюты</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>&nbsp;Цена (руб. с чел.)&nbsp;</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Категория каюты</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>&nbsp;Цена (руб. с чел.)&nbsp;</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Категория каюты</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>&nbsp;Цена (руб. с чел.)&nbsp;</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Категория каюты</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>Палуба</strong>
        </td>
        <td>
          <strong>&nbsp;Цена (руб. с чел.)&nbsp;</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>