<div class="dke_read">
  <div class="dke_container dke_container_content">
    <div class="dke_read__icon"></div>
    <div class="dke_read__title">
      Советуем почитать
    </div>
    <div class="dke_read__container">
      {{> "blog-item"}}
      {{> "blog-item"}}
      {{> "blog-item"}}
    </div>
  </div>
</div>