<div class="dke_remind-me">
  <p class="dke_remind-me__text">
    Продажи временно приостановлены. Нажимай на кнопку, чтобы узнать о старте в числе первых.
  </p>
  <div class="dke_remind-me__price-box">
    <div class="dke_remind-me__price">
      950&nbsp;₽
      <small class="dke_remind-me__subprice">
        1000&nbsp;₽
        на причале
      </small>
    </div>
    <button class="dke_remind-me__button dke_button" data-role="remind-button">
      Узнать
    </button>
  </div>
</div>