<h2>Сделал форму</h2>
<div class="dke_rent-form">
  <div class="dke_container">
    <div class="dke_rent-form__title">
      Быстрая заявка на аренду яхты или катера
    </div>
    <form class="dke_rent-form__form">
      <div class="dke_rent-form__name">
        Вопрос №1
      </div>
      <div class="dke_rent-form__label">
        Имя Фамилия
      </div>
      <div class="dke_rent-form__input">
        <input type="text" />
      </div>
      <button class="dke_button">
        Заполнить заявку
      </button>
    </form>
  </div>
</div>
