<section class="dke_sight-cards">
  <div class="dke_container">
    <div class="dke_row dke_row_column">
      <ul class="dke_sight-cards__list">
        <li class="dke_sight-cards__item dke_sight-card">
          <a href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor" 
              class="dke_sight-card__img-link">
            <img src="src/images/card.jpg" alt="" class="dke_sight-card__img">
          </a>
          <a class="dke_sight-card__title-link">
            <h2 class="dke_sight-card__title">
              Никольский морской собор
            </h2>
          </a>
          <p class="dke_sight-card__description">
            Николо-Богоявленский морской собор является крупным православным храмом, здесь окормляют моряков русского флота.
          </p>
          <a class="dke_sight-card__more-link" 
              href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor">
            подробнее&nbsp;→
          </a>
        </li>
        <li class="dke_sight-cards__item dke_sight-card">
          <a href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor" 
              class="dke_sight-card__img-link">
            <img src="src/images/card.jpg" alt="" class="dke_sight-card__img">
          </a>
          <a class="dke_sight-card__title-link">
            <h2 class="dke_sight-card__title">
              Никольский морской собор
            </h2>
          </a>
          <p class="dke_sight-card__description">
            Николо-Богоявленский морской собор является крупным православным храмом, здесь окормляют моряков русского флота.
          </p>
          <a class="dke_sight-card__more-link" 
              href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor">
            подробнее&nbsp;→
          </a>
        </li>
        <li class="dke_sight-cards__item dke_sight-card">
          <a href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor" 
              class="dke_sight-card__img-link">
            <img src="src/images/card.jpg" alt="" class="dke_sight-card__img">
          </a>
          <a class="dke_sight-card__title-link">
            <h2 class="dke_sight-card__title">
              Никольский морской собор
            </h2>
          </a>
          <p class="dke_sight-card__description">
            Николо-Богоявленский морской собор является крупным православным храмом, здесь окормляют моряков русского флота.
          </p>
          <a class="dke_sight-card__more-link" 
              href="https://nevatrip.ru/sights/nikolskiy-morskoy-sobor">
            подробнее&nbsp;→
            </a>
        </li>
      </ul>
      <button class="dke_sight-cards__button-more dke_button">Больше достопримечательностей</button>
    </div>
  </div>
</section>