<h4>
  Описание
</h4>
<p>
  Шереметевский дворец — одна из самых интересных достопримечательностей Северной столицы. В его строительстве принимали участие известные архитекторы своего времени. Дом в течение долгого времени был центром притяжения лучших людей Петербурга, деятелей искусства, выдающихся музыкантов. Сегодня дворец является музеем, где представлена богатая коллекция музыкальных инструментов и произведения искусства разных эпох.
</p>
<hr>
<h4>
  Цены
</h4>
<p>
  Шереметевский дворец — одна из самых интересных достопримечательностей Северной столицы. В его строительстве принимали участие известные архитекторы своего времени. Дом в течение долгого времени был центром притяжения лучших людей Петербурга, деятелей искусства, выдающихся музыкантов. Сегодня дворец является музеем, где представлена богатая коллекция музыкальных инструментов и произведения искусства разных эпох.
</p>
<hr>
<h4>
  Советы
</h4>
<p>
  Для посетителей музея представлены несколько экспозиций. Прежде всего, заслуживают внимания личные вещи Шереметевых, а также выставка, посвященная быту дворян периода XVIII-XX веков. Главная гордость музея — это коллекция из более чем 3 тысяч музыкальных инструментов.
</p>
<p>
  Все желающие могут воспользоваться услугами экскурсовода, а также взять аудиогид. Кроме того, в интерьерах дворца проводят праздничные фотосессии.
</p>
<br>