<div class="dke_sight">
  <button type="button" class="dke_sight__btn">
    <h5 class="dke_sight__subtitle">
      Вы увидите ТОП-10 достопримечательностей:
    </h5>
    <div class="dke_sight__btn-text" aria-expanded="false" aria-controls="dke_sight-content">
      посмотреть
    </div>
  </button>
  <div class="dke_sight__list-wrapper" id="dke_sight-content" data-role="drop-down">
    <ul class="dke_sight__list">
      <li>
        Центральная акватория Невы
      </li>
      <li>
        Зенит-Арена
      </li>
      <li>
        Лахта Центр
      </li>
      <li>
        Финский залив
      </li>
      <li>
        Морской канал
      </li>
      <li>
        Большой дворец
      </li>
      <li>
        Фонтанное сооружение «Большой каскад»
      </li>
      <li>
        Фонтаны-шутихи
      </li>
      <li>
        Воронихинские колоннады
      </li>
      <li>
        Каскад «Шахматная гора»
      </li>
    </ul>
  </div>
</div>