<div class="dke_sight__aside-map dke_aside-item" id="map">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af3905fe66f068f8ad4ebaca9276fa97a84b0a6164ebc23f1acef3d3d703182a1&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</div>
<div class="dke_sight__aside-map dke_aside-item">
  <iframe src="https://www.google.com/maps/d/embed?mid=1vRxv9k8rtkElbEAlSj-3y_1DpCk&amp;hl=ru" width="100%" height="400"></iframe>
</div>