<ul class="dke_tour-features">
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon dke_tour-feature__icon_placemark"></span>
    <span class="dke_tour-feature__text">
      <b>Адрес:</b>
      <a href="#map">набережная реки Фонтанки, 34</a>
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon dke_tour-feature__icon_metro"></span>
    <span class="dke_tour-feature__text">
      <b>Метро:</b>
      <span>
        <span class="dke_tour-feature__metro dke_tour-feature__metro_green"></span>
        Гостиный двор
      </span>
      <span>
        <span class="dke_tour-feature__metro dke_tour-feature__metro_red"></span>
        Площадь Восстания
      </span>
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon dke_tour-feature__icon_schedule"></span>
    <span class="dke_tour-feature__text">
      <b>Режим работы:</b>
      ежедневно с 11:00 до 19:00, среда — с 13:00 до 21:00, вторник — выходной
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon dke_tour-feature__icon_duration"></span>
    <span class="dke_tour-feature__text">
      <b>Рекомендуемое время посещения:</b>
      1 час
    </span>
  </li>
</ul>