<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingValue" content="4.7">
  <meta itemprop="ratingCount" content="74">
</div>
<div class="dke_star-rating">
  <div class="dke_star-rating__inner">
    <svg class="dke_star-rating__empty" viewBox="0 0 120 50" width="120" height="50" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="assets/sprites/sprite.svg#stars-rating.sprite" />
    </svg>
    <div class="dke_star-rating__line" style="width: 94%;">
      <svg viewBox="0 0 120 50" width="120" height="50" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="assets/sprites/sprite.svg#stars-rating.sprite" />
      </svg>
    </div>
  </div>
  <div class="dke_star-rating__text">
    голосов&nbsp;-&nbsp;74, рейтинг&nbsp;-&nbsp;4.7&nbsp;из&nbsp;5
  </div>
</div>