<div class="dke_subscribe-form">
  <div class="dke_container">
    <div class="dke_subscribe-form__title">
      Подпишись на наш влог
    </div>
    <div class="dke_subscribe-form__form">
      <div class="dke_subscribe-form__input">
        <input type="text" placeholder="Ваш e-mail адрес">
      </div>
      <div class="dke_subscribe-form__button">
        <button type="submit">ОК</button>
      </div>
    </div>
  </div>
</div>