<div class="dke_vlog-content">
  <div class="dke_container">
    <h1>
      Nevatrip Live
    </h1>
    <p>
      Мы — команда Nevatrip из Санкт-Петербурга, которая просто обожает творить и созидать.<br>
      «Погнали в трип» — про естественность, свободу и бесконечную любовь к путешествиям по городам России.
    </p>

    <div class="dke_vlog-content__socials">
      <ul class="dke_social">
        <li class="dke_social__item dke_social-item">
          <a class="dke_social-item__link" href="#">
            <img class="dke_social-item__icon" src="src/icons/instagram-gray.system.svg" alt="Instagram">
          </a>
        </li>
        <li class="dke_social__item dke_social-item">
          <a class="dke_social-item__link" href="#">
            <img class="dke_social-item__icon" src="src/icons/vk-gray.system.svg" alt="ВКонтакте">
          </a>
        </li>
        <li class="dke_social__item dke_social-item">
          <a class="dke_social-item__link" href="#">
            <img class="dke_social-item__icon" src="src/icons/youtube-gray.system.svg" alt="YouTube">
          </a>
        </li>
        <li class="dke_social__item dke_social-item">
          <a class="dke_social-item__link" href="#">
            <img class="dke_social-item__icon" src="src/icons/telegram-gray.system.svg" alt="Telegram">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
