<div class="dke_vlog-content">
  <div class="dke_container">
    <h1>
      Nevatrip Live
    </h1>
    <p>
      Мы — команда Nevatrip из Санкт-Петербурга, которая просто обожает творить и созидать.<br>
      «Погнали в трип» — про естественность, свободу и бесконечную любовь к путешествиям по городам России.
    </p>

    <div class="dke_vlog-content__socials">
      <ul class="dke_social">
        <ul class="dke_blog__aside-socials dke_social">
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_vk-black dke_social-item__link_large dke_social-item__link_hover" href="https://vk.com/neva.trip" target="_blank"></a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_youtube-black dke_social-item__link_large dke_social-item__link_hover" href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q" target="_blank"></a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_instagram-black dke_social-item__link_large dke_social-item__link_hover" href="https://www.instagram.com/nevatrip.ru/" target="_blank"></a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
