<h2>Текстовый блок</h2>
<div class="dke_html">
  <div class="dke_container">
    <p>
      При­вет! Мы — ак­ту­аль­ный сер­вис для по­куп­ки экс­кур­сий в Санкт-Пе­тер­бур­ге. На­ша ко­ман­да
      ор­га­ни­зу­ет для вас пол­но­цен­ное <a href="#">пу­те­ше­ствие, най­дет все ра­нее</a>
      неиз­ве­дан­ные до­сто­при­ме­ча­тель­но­сти и пер­во­класс­ные ме­ста го­ро­да, а опыт­ные ги­ды на­сы­тят
      класс­ны­ми ис­то­ри­я­ми. Та­кие об­зор­ные ту­ры — нескуч­ный спо­соб по­зна­ко­мить­ся с луч­ши­ми
      ло­ка­ци­я­ми для
      лю­бо­го пу­те­ше­ствен­ни­ка, ведь раз­но­об­ра­зие фор­ма­тов по­мо­га­ет каж­до­му вы­брать тур ис­хо­дя из
      сво­их по­же­ла­ний.
    </p>
    <h5>
      В чем пре­иму­ще­ства та­ких об­зор­ных экс­кур­сий?
    </h5>
    <ul>
      <li>
        <a href="#">
          Ав­тор­ский
        </a> 
        марш­рут.
      </li>
      <li>
        Про­гул­ки по глав­ным ар­те­ри­ям го­ро­да
      </li>
    </ul>
    <p>
      <strong>
        2. Пе­ше­ход­ные
      </strong>
    </p>
    <p>
      Ин­ди­ви­ду­аль­ные пе­шие ту­ры — по­дой­дут пу­те­ше­ствен­ни­кам, ко­то­рые лю­бят на­сы­щен­ные про­гул­ки и
      хо­тят изу­чить да­же те угол­ки го­ро­да, ку­да не про­хо­дит ав­то­мо­биль.
    </p>
    <hr class="short" />
  </div>
</div>