<h2>Карточки</h2>
<section class="dke_tours">
  <div class="dke_container">
    <div class="dke_tour">
      <a href="#" class="dke_tour__preview">
        <span class="dke_tour__tag">НОВОГОДНИЕ КАНИКУЛЫ!</span>
        <img src="https://damir211.github.io/nevatrip/static/img/content/card.jpg" alt="" />
      </a>
      <div class="dke_tour__description">
        <a href="#" class="dke_tour__title">
          <h3>Ein-Stunde Tour durch Prag</h3>
        </a>
        <div class="dke_tour__time">
          50 Minuten
        </div>
        <ul class="dke_tour__list">
          <li>Для индвидуальных групп до 6 человек</li>
          <li>Авторский маршрут от команды Nevatrip</li>
          <li>
            Прогулка по «Золотому треугольнику» Петербурга
            <span class="dke_tour__tickets">
              <a href="#" class="dke_tour__ticket">
                16:00
              </a>
              <a href="#" class="dke_tour__ticket">
                20:00
              </a>
              <a href="#" class="dke_tour__ticket">
                22:00
              </a>
            </span>
          </li>
        </ul>
        <div class="dke_price-box">
          <div class="dke_price">
            4490
            <img src="../icons/ruble.svg" alt="Рубль">
            <small class="dke_sub-price">
              1500
              <img src="../icons/ruble.svg" alt="Рубль">
              на причале
            </small>
          </div>
          <a href="#" class="dke_button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <hr class="short" />
    <div class="dke_tour">
      <a href="#" class="dke_tour__preview">
        <span class="dke_tour__tag dke_tour__tag_yellow">МАСТ ХЭВ</span>
        <img src="https://damir211.github.io/nevatrip/static/img/content/card.jpg" alt="" />
      </a>
      <div class="dke_tour__description">
        <a href="#" class="dke_tour__title">
          <h3>Ein-Stunde Tour durch Prag</h3>
        </a>
        <div class="dke_tour__time">
          2 Stunden
        </div>
        <ul class="dke_tour__list">
          <li>Для индвидуальных групп до 6 человек</li>
          <li>Авторский маршрут от команды Nevatrip</li>
          <li>Прогулка по «Золотому треугольнику» Петербурга</li>
        </ul>
        <div class="dke_price-box">
          <div class="dke_price">
            4490
            <img src="../icons/ruble.svg" alt="Рубль">
          </div>
          <a href="#" class="dke_button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <hr class="short" />
    <div class="dke_tour">
      <a href="#" class="dke_tour__preview">
        <span class="dke_tour__tag dke_tour__tag_red">МАСТ ХЭВ</span>
        <img src="https://damir211.github.io/nevatrip/static/img/content/card.jpg" alt="" />
      </a>
      <div class="dke_tour__description">
        <a href="#" class="dke_tour__title">
          <h3>Ein-Stunde Tour durch Prag</h3>
        </a>
        <div class="dke_tour__time">
          2 Stunden
        </div>
        <ul class="dke_tour__list">
          <li>Для индвидуальных групп до 6 человек</li>
          <li>Авторский маршрут от команды Nevatrip</li>
          <li>Прогулка по «Золотому треугольнику» Петербурга</li>
        </ul>
        <div class="dke_price-box">
          <div class="dke_price">
            4490
            <img src="../icons/ruble.svg" alt="Рубль">
          </div>
          <a href="#" class="dke_button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <hr class="short" />
    <div class="dke_tour">
      <a href="#" class="dke_tour__preview">
        <span class="dke_tour__tag dke_tour__tag_blue">МАСТ ХЭВ</span>
        <img src="https://damir211.github.io/nevatrip/static/img/content/card.jpg" alt="" />
      </a>
      <div class="dke_tour__description">
        <a href="#" class="dke_tour__title">
          <h3>Ein-Stunde Tour durch Prag</h3>
        </a>
        <div class="dke_tour__time">
          2 Stunden
        </div>
        <ul class="dke_tour__list">
          <li>Для индвидуальных групп до 6 человек</li>
          <li>Авторский маршрут от команды Nevatrip</li>
          <li>Прогулка по «Золотому треугольнику» Петербурга</li>
        </ul>
        <div class="dke_price-box">
          <div class="dke_price">
            4490
            <img src="../icons/ruble.svg" alt="Рубль">
          </div>
          <a href="#" class="dke_button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <div class="dke_tour-nav">
      <a href="#" class="dke_tour-nav__link dke_tour-nav__link_prev">
        <span>← Все Метеоры в пригороды</span>
      </a>
      <a href="#" class="dke_tour-nav__link dke_tour-nav__link_next">
        <span>Все дневные экскурсии →</span>
      </a>
    </div>
  </div>
</secti>
