<ul class="dke_tour-features">
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/duration.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Длительность:</b>
      от 35 до 40 минут
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/duration.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Длительность:</b>
      от 35 до 40 минут
    </span>
  </li>
</ul>