<div class="dke_lead">
  <h4>
    О прогулке
  </h4>
  {{> "remark/remark-blue"}}
  {{> "offer"}}
  {{> "program"}}
  <p>
    Мы знаем, как быстро и легко попасть из Петербурга в Петергоф. Ну, или обратно! Метеор за 35 минут домчит тебя по Финскому заливу в самый известный в России музей-заповедник, а еще — быстро доставит обратно.
  </p>
  <br>
  <h5>
    Особенности прогулки на Метеоре:
  </h5>
  <ul>
    <li>
      потрясающие виды. Метеор до Петергофа стартует из центра города, то есть одна часть маршрута проходит как раз через главные достопримечательности Северной столицы, а другая — по Финскому заливу;
    </li>
    <li>
      добраться до Петергофа из Санкт-Петербурга на метеоре очень быстро. Всего 35 минут, и мы на месте;
    </li>
    <li>
      рейсы отправляются каждый час.
    </li>
  </ul>
  {{> "sight"}}
  {{> "menu-links"}}
  <h5>
    Маршрут
  </h5>
  <p>
    Теплоход из Санкт-Петербурга в Петергоф отправляется от Адмиралтейской набережной, 2 (причал «Спуск со львами»). Перед отправкой нужно обязательно подойти в кассу за своим посадочным талоном. В пути находимся чуть больше получаса. Во время водной прогулки мы увидим всю центральную акваторию Невы и помчимся прямиком в Финский залив. 
  </p>
  <br>
  <h5>
    Теплоход
  </h5>
  <p>
    Теплоход из Санкт-Петербурга в Петергоф отправляется от Адмиралтейской набережной, 2 (причал «Спуск со львами»). Перед отправкой нужно обязательно подойти в кассу за своим посадочным талоном. В пути находимся чуть больше получаса. Во время водной прогулки мы увидим всю центральную акваторию Невы и помчимся прямиком в Финский залив. 
  </p>
  <br>
  <h5>
    Покупка билета
  </h5>
  <p>
    Теплоход из Санкт-Петербурга в Петергоф отправляется от Адмиралтейской набережной, 2 (причал «Спуск со львами»). Перед отправкой нужно обязательно подойти в кассу за своим посадочным талоном. В пути находимся чуть больше получаса. Во время водной прогулки мы увидим всю центральную акваторию Невы и помчимся прямиком в Финский залив. 
  </p>
  <br>
</div>
{{> "video"}}
{{> "faq/faq-simple"}}
<hr class="short">
{{> "map"}}
{{> "remark/remark-light"}}
{{> "faq/faq-small"}}
{{> "remark/remark-gray"}}