<div class="dke_container dke_container_content">
  <div class="dke_row">
    <div class="dke_col-8">
      {{> "tour-features"}}
    </div>
    <div class="dke_col-4">
      {{> "tour-order-features"}}
      <div class="dke_price-box dke_price-box_justified dke_price-box_sticky">
        <div class="dke_price-box__price">
          950&nbsp;₽
          <small class="dke_price-box__sub-price">
            1000&nbsp;₽ на причале
          </small>
        </div>
        <a href="#" class="dke_button dke_button_not-shrink">
          Выбрать дату
        </a>
      </div>
      {{> "remind-me"}}
    </div>
  </div>
</div>