<ul class="dke_tour-features">
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/discount.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text dke_tour-feature__text_order">
      <b>Скидки:</b>
      льготный — 890 рублей в одну сторону, детский — 590 рублей в одну сторону. До 3 лет включительно — бесплатно.
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/child.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text dke_tour-feature__text_order">
      Пассажиры младше 18 лет могу пройти на теплоход только в присутствии старших сопровождающих.
    </span>
  </li>
</ul>