<ul class="dke_tour-features">
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/duration.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Длительность:</b>
      от 35 до 40 минут
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/schedule.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Расписание:</b>
      ежедневно с 10:30 до 16:30 туда и с 11:30 до 17:30 обратно (каждый час). Актуальное расписание можно посмотреть по кнопке «Выбрать дату»
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature showClosestId">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/star.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Ближайший рейс:</b>
      <span class="showClosestData">1 мая</span>
      <span class="showClosest__inner"></span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/placemark.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Отправление:</b>
      <a href="https://maps.yandex.ru/-/CVGKJVkQ">Адмиралтейская наб. 2 (спуск со львами)</a>
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/anchor.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>Теплоход:</b>
      метеор на подводных крыльях или «Восход»
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/steering.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <b>На борту:</b>
      метеор на подводных крыльях или «Восход»
    </span>
  </li>
  <li class="dke_tour-features__item dke_tour-feature">
    <span class="dke_tour-feature__icon-wrapper">
      <img class="dke_tour-feature__icon" src="src/icons/compass.system.svg" alt="">
    </span>
    <span class="dke_tour-feature__text">
      <a href="#route">
        <b>Посмотреть маршрут прогулки</b>
      </a>
    </span>
  </li>
</ul>