<hr>
<div class="dke_tours-small">
  <p>Другие наши прогулки:</p>
  <div class="dke_tour">
      <a href="#" class="dke_tour__preview">
        <span class="dke_tour__tag">
          Новогодние каникулы!
        </span>
        <img src="src/images/card.jpg" alt="" />
      </a>
      <div class="dke_tour__description">
        <a href="#" class="dke_tour__title">
          <h3>
            Ein-Stunde Tour durch Prag
          </h3>
        </a>
        <div class="dke_tour__time">
          50 Minuten
        </div>
        <ul class="dke_tour__list">
          <li>
            Для индвидуальных групп до 6 человек
          </li>
          <li>
            Авторский маршрут от команды Nevatrip
          </li>
          <li>
            Прогулка по «Золотому треугольнику» Петербурга
            <span class="dke_tour__tickets">
              <a href="#" class="dke_tour__ticket">
                16:00
              </a>
              <a href="#" class="dke_tour__ticket">
                20:00
              </a>
              <a href="#" class="dke_tour__ticket">
                22:00
              </a>
            </span>
          </li>
        </ul>
        <div class="dke_price-box">
          <div class="dke_price">
            4490&nbsp;₽
          </div>
          <a href="#" class="dke_button">
            Подробнее
          </a>
        </div>
      </div>
    </div>
</div>