<div class="dke_vlog-inner">
  <div class="dke_container dke_container_content">
    <div class="dke_row">
      <div class="dke_col-8">
        <div class="dke_vlog-inner__title">
          Севкабель Порт | Попробуй Петербург на вкус
        </div>
      </div>
    </div>
  </div>
  <div class="dke_container dke_container_content">
    <div class="dke_row">
      <div class="dke_col-8">
        <div class="dke_vlog-inner__content">
          <p>
            <iframe 
              width="560" 
              height="315" 
              src="https://www.youtube.com/embed/arfODDdH6No" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen="allowfullscreen"
            ></iframe>
          </p>
          <p>
            <a href="#">
              Ссылка на альтернативный источник
            </a>
          </p>
          <p>
            <a href="#">
              Поддержать канал →
            </a>
          </p>
          <p>&nbsp;</p>
          <p>
            <span dir="auto" class="style-scope yt-formatted-string">
              Севкабель Порт &mdash; какой он на вкус, что это такое и чем здесь можно заняться сегодня. Наше новое видео как раз об этом. 
            </span>
          </p>
          <p>
            <span dir="auto" class="style-scope yt-formatted-string">
              Это место очень любит молодежь. И это совсем неудивительно, ведь прямо внутри бывшего Северного Кабельного Завода, что на 
              Васильевском острове, сейчас расположились арт-пространства, выставочные центры, кафе и одна из самых классных смотровых 
              площадок Петербурга. 
            </span>
          </p>
          <p>
            <span dir="auto" class="style-scope yt-formatted-string">
              Севкабель Порт &mdash; это живой пример того, как далеко неэстетичные места с течением времени становятся самыми 
              настоящими центрами притяжения гостей и жителя города. Кто с нами? 
            </span>
          </p>
          <p>
            <span dir="auto" class="style-scope yt-formatted-string">
              Присоединяйтесь к нам и 
            </span>
            <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="#" dir="auto">
              #ПогналивТрип
            </a>
            <span dir="auto" class="style-scope yt-formatted-string"> 
              по общественным пространствам Петербурга!
            </span>
          </p>
        </div>
      </div>
      <div class="dke_col-4">
        <div class="dke_vlog-inner__mtitle">
          Подписка на влог
        </div>
        <div class="dke_subscribe-form__form dke_subscribe-form__form_vertical">
          <div class="dke_subscribe-form__input">
            <input type="text" placeholder="Ваш e-mail адрес">
          </div>
          <div class="dke_subscribe-form__button">
            <button type="submit">ОК</button>
          </div>
        </div>
        <div class="dke_vlog-inner__mtitle">
          Мы в социальных сетях
        </div>
        <ul class="dke_blog__aside-socials dke_social">
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_vk-black dke_social-item__link_large dke_social-item__link_hover" href="https://vk.com/neva.trip" target="_blank"></a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_youtube-black dke_social-item__link_large dke_social-item__link_hover" href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q" target="_blank"></a>
          </li>
          <li class="dke_social__item dke_social-item">
            <a class="dke_social-item__link dke_social-item__link_instagram-black dke_social-item__link_large dke_social-item__link_hover" href="https://www.instagram.com/nevatrip.ru/" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>