<div class="dke_vlog-list">
  <div class="dke_container">
    <div class="dke_vlog-list__container">
      {{> "vlog-card" small="small" modalId="1"}}
      {{> "vlog-card" small="small" modalId="2"}}
      {{> "vlog-card" small="small" modalId="3"}}
    </div>
    <div class="dke_vlog-list__more dke_button">
      Больше новостей
    </div>
  </div>
</div>