<article class="dke_vlog-item {{#if small}}dke_vlog-item_small{{/if}}">
  <a href="#" data-modal-open="vlog{{modalId}}" class="dke_vlog-item__preview">
    <img src="src/images/card.jpg" alt="Севкабель Порт | Попробуй Петербург на вкус">
  </a>
  <div class="dke_vlog-item__description">
    <h2 class="dke_vlog-item__title">
      <a href="#" data-modal-open="vlog{{modalId}}">Севкабель Порт | Попробуй Петербург на вкус</a>
    </h2>
    <div class="dke_vlog-item__text">
      Севкабель Порт — какой он на вкус, что это такое и чем здесь можно заняться сегодня. 
      Наше новое видео как раз об этом.
    </div>
    <a href="#" data-modal-open="vlog{{modalId}}" class="dke_vlog-item__link">
      посмотреть →
    </a>
  </div>

  <!-- modal -->
  <div class="dke_modal dke_modal_videovlog" data-role="vlog" data-vlog-modal="vlog{{modalId}}">
    <div class="dke_modal__window" data-role="modal-window">
      <button class="dke_modal__close" data-role="close-modal">×</button>
      <div class="dke_vlog-modal">
        <div class="dke_vlog-modal__title">
          Летний сад | Попробуй Петербург на вкус
        </div>
        <div class="dke_vlog-modal__content">
          <!-- Контент -->
          <noindex>
            <p>
              <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/arfODDdH6No" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen="allowfullscreen"
              ></iframe>
            </p>
            <p>
              <a href="#">
                Ссылка на альтернативный источник
              </a>
            </p>
            <p>
              <a href="#">
                Поддержать канал →
              </a>
            </p>
            <p>&nbsp;</p>
            <p>
              <span dir="auto" class="style-scope yt-formatted-string">
                Севкабель Порт &mdash; какой он на вкус, что это такое и чем здесь можно заняться сегодня. Наше новое видео как раз об этом. 
              </span>
            </p>
            <p>
              <span dir="auto" class="style-scope yt-formatted-string">
                Это место очень любит молодежь. И это совсем неудивительно, ведь прямо внутри бывшего Северного Кабельного Завода, что на 
                Васильевском острове, сейчас расположились арт-пространства, выставочные центры, кафе и одна из самых классных смотровых 
                площадок Петербурга. 
              </span>
            </p>
            <p>
              <span dir="auto" class="style-scope yt-formatted-string">
                Севкабель Порт &mdash; это живой пример того, как далеко неэстетичные места с течением времени становятся самыми 
                настоящими центрами притяжения гостей и жителя города. Кто с нами? 
              </span>
            </p>
            <p>
              <span dir="auto" class="style-scope yt-formatted-string">
                Присоединяйтесь к нам и 
              </span>
              <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="#" dir="auto">
                #ПогналивТрип
              </a>
              <span dir="auto" class="style-scope yt-formatted-string"> 
                по общественным пространствам Петербурга!
              </span>
            </p>
          </noindex>
          <br>
          <a href="#" class="dke_vlog-modal__link">Открыть на отдельной странице</a>
        </div>
      </div>
    </div>
  </div>
</article>