<div class="dke_faq-simple">
  <h3 class="dke_faq-simple__title dke_subtitle">
    Программа круиза
  </h3>
  <hr class="short">
  <ol class="dke_faq-simple__accordion" role="tree">
    <li class="dke_faq-simple__accordion-item dke_item-faq-simple" aria-expanded="false" role="treeitem">
      <button class="dke_item-faq-simple__head dke_drop-down-arrow" type="button">
        <span class="dke_item-faq-simple__head-title">
          <strong>Нужно ли оформлять страховку перед круизом?</strong>
        </span>
      </button>
      <div class="dke_item-faq-simple__body" data-role="drop-down">
        <div class="dke_item-faq-simple__body-content">
          <br>
          — 19:00 мск — отправление теплохода из Санкт-Петербурга с проспекта Обуховской обороны, 106 (ближайшая станция метро <span>«</span>Пролетарская<span>»</span>).&nbsp;Посадка на речной круиз на Валаам начинается за два часа до начала поездки. Советуем прибыть как минимум за 20 минут до отправления (во время регистрации необходимо предъявить путевку и документы, удостоверяющие личность);
          <br>
          <br>
          — &nbsp;размещение в каюте;
          <br>
          <br>
          —&nbsp; ужин от шеф-повара с приветственным бокалом игристого (меню с выбором 4 блюд и дополнительным напитком);
          <br>
          <br>
          — свободное время и отход ко сну.
        </div>
      </div>
    </li>
    <li class="dke_faq-simple__accordion-item dke_item-faq-simple" aria-expanded="false" role="treeitem">
      <button class="dke_item-faq-simple__head dke_drop-down-arrow" type="button">
        <span class="dke_item-faq-simple__head-title">
          <strong>Нужно ли оформлять страховку перед круизом?</strong>
        </span>
      </button>
      <div class="dke_item-faq-simple__body" data-role="drop-down">
        <div class="dke_item-faq-simple__body-content ">
          <ul>
            <li>123</li>
          </ul>
          <br>
          — 19:00 мск — отправление теплохода из Санкт-Петербурга с проспекта Обуховской обороны, 106 (ближайшая станция метро <span>«</span>Пролетарская<span>»</span>).&nbsp;Посадка на речной круиз на Валаам начинается за два часа до начала поездки. Советуем прибыть как минимум за 20 минут до отправления (во время регистрации необходимо предъявить путевку и документы, удостоверяющие личность);
          <br>
          <br>
          — &nbsp;размещение в каюте;
          <br>
          <br>
          —&nbsp; ужин от шеф-повара с приветственным бокалом игристого (меню с выбором 4 блюд и дополнительным напитком);
          <br>
          <br>
          — свободное время и отход ко сну.
        </div>
      </div>
    </li>
  </ol>
</div>