<div class="dke_faq _small">
  <h3 class="dke_faq__title">
    Часто задаваемые вопросы
  </h3>
  <ul role="tablist" class="dke_faq__tabs">
    <li class="dke_faq__tabs-item dke_item-tabs-faq js_dke_active" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-1" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
        </div>
        <span>
          На борту
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-2" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
        </div>
        <span>
          Перенос и возврат билетов
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-3" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
        </div>
        <span>
          Посадка на теплоход
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-4" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
        </div>
        <span>
          Посадка на теплоход
        </span>
      </button>
    </li>
    <li class="dke_faq__tabs-item dke_item-tabs-faq" role="presentation">
      <button type="button" class="dke_item-tabs-faq__btn" aria-controls="panel-5" role="tab" aria-selected="true">
        <div class="dke_item-tabs-faq__btn-icon">
        </div>
        <span>
          Другое
        </span>
      </button>
    </li>    
  </ul>

  <div class="dke_faq__tabs-content dke_content-tabs-faq">
    <div role="tabpanel" class="dke_content-tab-faq js_dke_active" id="panel-1">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
              <ul>
                <li>123</li>
                <li>123</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-2">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-3">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-4">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div role="tabpanel" class="dke_content-tab-faq" id="panel-5">
      <ol class="dke_content-tab-faq__list dke_list-tab-faq" role="tree">
        <li class="dke_list-tab-faq__item dke_item-tab-faq" aria-expanded="false" role="treeitem">
          <button class="dke_item-tab-faq__head" type="button">
            <h4 class="dke_item-tab-faq__title">
              С нами кто-нибудь будет на яхте, кроме капитана, или это индивидуальный рейс?
            </h4>
          </button>
          <div class="dke_item-tab-faq__body" data-role="drop-down">
            <div class="dke_item-tab-faq__body-content">
              <p>
                <span>
                  Это стандартный формат прогулки: рейс осуществляется, когда набирается группа. Если вас интересует индивидуальное предложение, мы ждём вашу заявку в отделе аренды: <a href="mailto:arenda@nevatrip.ru"><noindex>arenda@nevatrip.ru</noindex></a>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>