@use '../colors';
@use '../media';

.dke_banner {
  position: relative;
  min-height: 370px;
  z-index: 1;
  display: flex;
  padding: 30px 0;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &_darken::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    max-width: 77%;
    width: 100%;
    padding: 44px 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin-left: auto;
    color: colors.$body;

    @include media.sm {
      max-width: 100%;
    }

    & > a {
      display: inline-block;
      margin-bottom: 1.5625em;

      h2,
      span,
      p {
        margin-bottom: 0;
        display: inline;
        border-bottom: 2px solid transparent;
        transition: ease 0.3s;
      }

      &:hover {
        h2,
        span,
        p {
          border-bottom: 2px solid colors.$body;
        }
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0.6em;
    }

    &_dark {
      background: rgba(40, 40, 40, 0.63);
      color: #ffffff;
      padding: 44px 67px;

      @include media.xs {
        padding: 44px 55px;
      }

      @media screen and (max-width: 440px) {
        padding: 21px;
      }

      .dke_banner__title,
      .dke_price {
        color: #ffffff;
      }

      & > a {
        &:hover {
          h2,
          span,
          p {
            border-bottom: 2px solid #ffffff;
          }
        }
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.714em;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.1;
    color: colors.$body;

    @include media.xs {
      font-size: 26px;
    }
  }

  .dke_list {
    margin-bottom: 13px;
  }

  .dke_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > a {
      display: inline-block;

      .dke_banner__title {
        color: #ffffff;
        margin: 0;
        font-weight: 600;
        display: inline;
        border-bottom: 2px solid transparent;
        transition: ease 0.3s;
      }

      &:hover {
        .dke_banner__title {
          border-bottom: 2px solid #ffffff;
        }
      }
    }

    & > .dke_banner__title {
      color: #ffffff;
      margin: 0;
      font-weight: 600;
    }
  }

  &_bottom-title {
    .dke_banner__background::before {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.15) 15%,
        rgba(0, 0, 0, 0.4) 45%,
        rgba(0, 0, 0, 0.6) 100%
      );

      @include media.sm {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.15) 52%,
          rgba(0, 0, 0, 0.4) 60%,
          rgba(0, 0, 0, 0.6) 100%
        );
      }
    }

    .dke_container {
      justify-content: flex-end;
    }

    .dke_container_content .dke_banner__title {
      @include media.sm {
        margin: 25px 0;
      }
    }

    @include media.sm {
      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        background-color: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        z-index: 20;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 11px;
        height: 5px;
        width: 60px;
        border-radius: 4px;
        margin: 0 auto;
        background-color: colors.$lightGrey;
        z-index: 21;
      }
    }
  }

  &_small {
    min-height: 255px;
    padding: 0;
    margin-bottom: 30px;
  }
}
