@use '../colors';
@use '../variables';

.dke_blog {
  &__aside-header {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__subscribe-form {
    padding-top: 10px;
  }

  &__aside-input {
    margin-bottom: 20px;
  }

  &__subscribe-button {
    width: 100%;
  }

  &__aside-link-item {
    margin-bottom: 15px;
  }

  &__aside-link {
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}
