@use '../variables';

.dke_blog-item{
  transition: transform variables.$transition;

  &__preview{
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 14px;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__img{
    position: relative;
    width: 100%;
    padding-bottom: 61.72%;
  }

  &__time{
    position: absolute;
    display: block;
    z-index: 2;
    color: #fff;
    padding: 7px 8px 7px 27px;
    bottom: 10px;
    left: 10px;
    border-radius: 30px;
    font-size: 12px;
    overflow: hidden;

    img{
      position: absolute;
      left: -10px;
      bottom: -10px;
      border-radius: 30px;
      max-width: none;
      max-height: none;
      width: 324px;
      height: 200px;
      z-index: -1;
      filter: blur(5px);
    }

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(7, 15, 30, .3);
      background-image: url('/src/icons/readtime.system.svg');
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: 7px 9px;
    }
  }

  &__title{
    font-size: 18px;
    font-weight: 900!important;
    margin-bottom: 0.4em;
    color: #181818;
  }

  &__date{
    color: #6B6B6B;
    font-size: 14px;
  }

  &:hover{
    transform: scale(1.01);
  }
}