@use '../colors';
@use '../variables';

.dke_breadcrumbs {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  font-size: 11px;
  color: #6b6b6b;
  display: flex;
  flex-wrap: wrap;

  li:not(:first-child)::before {
    content: "/";
    margin-left: 3px;
  }

  a {
    color: colors.$body;
    border-bottom: 1px solid transparent;
    transition: border-color variables.$transition;
    
    &:hover {
      border-bottom: 1px solid colors.$body;
    }
  }
}
