@use '../colors';

.dke_burger {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;

  &_white {
    .dke_burger__icon .line {
      stroke: #ffffff;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 300ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_active {
      transform: rotate(45deg);

      .top {
        stroke-dashoffset: -98px;
      }

      .bottom {
        stroke-dashoffset: -138px;
      }
    }

    & .line {
      fill: none;
      transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
      stroke: colors.$body;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    & .top {
      stroke-dasharray: 40 139;
    }

    & .bottom {
      stroke-dasharray: 40 180;
    }
  }
}
