@use '../variables';
@use '../media';
@use '../colors';

.dke_button-scroll-top{
  display: inline-block;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: colors.$background4;
  border: none;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
  border-radius: 48px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity variables.$transition;
  
  @include media.sm {
    right: 15px;
    bottom: 15px;
  }

  &:before{
    content: '';
    position: absolute;
    top: 50%;
    margin: -4px auto 0;
    height: 16px;
    width: 16px;
    left: 0;
    right: 0;
    border-bottom: 2px solid #696969;
    border-right: 2px solid #696969;
    transform: rotate(-135deg);
  }

  &.dke_active{
    opacity: 1;
    pointer-events: auto;
  }
}