@use '../colors';
@use '../media';
@use '../variables';

.dke_button {
  font-size: 17px;
  line-height: 1.33;
  color: colors.$text;
  border: none;
  background-color: colors.$button;
  padding: 13px 24px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background-color variables.$transition;

  @include media.sm {
    font-size: 15px;
  }

  @include media.xs {
    padding: 13px 22px;
  }

  &:hover {
    background-color: colors.$buttonHover;
  }

  &_not-shrink {
    flex-shrink: 0;

    @include media.md {
      font-size: 15px;
      padding: 13px 16px;
    }
  }

  &_small {
    font-size: 13px;
    padding: .7em .9em ;
  }
}
