@use '../colors';
@use '../media';
.dke_button {
  font-size: 17px;
  line-height: 1.3333333;
  color: colors.$body;
  border: none;
  background-color: colors.$buttonMain;
  padding: 13px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: ease 0.3s;
  @include media.sm {
    font-size: 15px;
  }
  @include media.xs {
    padding: 13px 22px;
  }
  &:hover {
    background-color: colors.$buttonMainHover;
  }
}
