@use '../colors';
@use '../variables';
@use '../icons' as *;

.dke_contacts {
  flex-direction: column;

  &__contact {
    display: flex;
    align-items: center;
  }

  &__link {
    color: colors.$link;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    border-bottom: 1px solid transparent;
    transition: all variables.$transition;

    &:hover {
      border-bottom: 1px solid colors.$link;
    }

    &_red {
      color: colors.$busLink;

      &:hover {
        color: colors.$busLinkHover;
        border-bottom: 1px solid colors.$busLinkHover;
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    &_tel {
      background: get-icon('tel', colors.$icon7) no-repeat;
    }

    &_mail {
      background: get-icon('mail', colors.$icon7) no-repeat;
    }

    &_telegram-bot {
      background: get-icon('telegram-bot', colors.$icon7) no-repeat;
    }
  }
}
