@use '../colors';
@use '../variables';
@use '../media';

.dke_drop-down-price {
  z-index: 2;
  background: #ffffff;
  display: none;
  height: 0;
  overflow: hidden;
  border: 1px solid colors.$main;
  border-radius: 12px;
  font-size: 14px;
  transition: padding variables.$transition, height variables.$transition;

  &.js_dke_active {
    display: block;
    height: auto;
  }

  @include media.xs {
    width: 100%;
  }

  &__list {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    @include media.xs {
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    display: block;
    font-weight: 600;
    padding: 8px;
    white-space: nowrap;
  }

  &__price {
    display: block;
    padding: 8px;
  }

  &__question-wrapper {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;

    & > img {
      margin-top: 1px;
    }
  }

  &__question-icon {
    &:hover,
    &:focus {
      & + .dke_drop-down-price__tooltip {
        opacity: 1;
      }
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 11px;
    height: 11px;
    background: url('src/icons/cross.system.svg') center center no-repeat;

    @include media.xs {
      display: none;
    }
  }

  &__tooltip {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    margin-left: 7px;
    margin-bottom: 10px;
    transition: opacity variables.$transition;
  }
}
