.dke_footer{
  &__container{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #192023;
    .dke_container{
      display: flex;
      justify-content: space-between;
    }
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    padding: 10px 0;
    &:last-child{
      justify-content: flex-end;
    }
  }
  &__link{
    font-size: 14px;
    color: #fff;
    margin: 5px 15px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: ease 0.3s;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
  &__socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 25%;
  }
  &__social{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    color: #fff;
    span, noindex{
      margin-left: 10px;
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
    }
    &:hover{
      span, noindex{
        border-bottom: 1px solid #fff;
      }
    }
    &:not(:first-child){
      margin-left: 12px;
    }
    img, svg{
      max-width: 28px;
      max-height: 28px;
    }
    img{
      object-fit: contain;
    }
  }
  &__contacts{
    padding: 10px 0;
    width: 25%;
  }
  &__contact{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    display: block;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    a{
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
      &:hover{
        border-bottom: 1px solid #fff;
      }
    }
    span{
      display: block;
      color: #A9A9A9;
      font-size: 14px;
      font-weight: 100;
      line-height: 0.8;
      letter-spacing: 0.5px;
      margin-top: 2px;
    }
    &_mail, &_tel{
      padding-left: 40px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &_mail::before{
      background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2014%22%3E%3Cpath%20d%3D%22M16.285.093H1.57C.705.093%200%20.797%200%201.662v10.462c0%20.862.702%201.569%201.57%201.569h14.715c.862%200%201.57-.702%201.57-1.57V1.662c0-.862-.703-1.57-1.57-1.57zm-.217%201.046L8.96%208.247%201.791%201.139h14.277zM1.046%2011.907V1.874l5.038%204.995-5.038%205.038zm.74.74l5.041-5.042%201.767%201.752a.523.523%200%2000.738-.002l1.722-1.722%205.014%205.014H1.787zm15.022-.74l-5.014-5.014%205.014-5.014v10.028z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
    }
    &_tel::before{
      background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2019%22%3E%3Cpath%20d%3D%22M12.832%2018.97a4.714%204.714%200%2001-1.707-.324c-2.462-.95-4.747-2.498-6.608-4.475A19.522%2019.522%200%2001.305%207.15a5.555%205.555%200%2001.608-4.87A5.191%205.191%200%20012.656.633%204.74%204.74%200%20015.036%200c.263%200%20.49.195.546.469l.875%204.342a.618.618%200%2001-.15.543L4.81%206.944c1.411%202.982%203.702%205.416%206.509%206.916l1.496-1.59a.537.537%200%2001.511-.16l4.087.93c.257.058.441.3.441.58%200%20.898-.2%201.749-.595%202.529A5.3%205.3%200%200115.708%2018a4.89%204.89%200%2001-2.156.914c-.24.037-.48.056-.72.056zM4.59%201.212c-1.115.13-2.106.752-2.763%201.749a4.299%204.299%200%2000-.473%203.784c1.719%205.029%205.42%208.96%2010.152%2010.787%201.208.466%202.506.283%203.561-.503.939-.698%201.524-1.75%201.647-2.936l-3.325-.757-1.562%201.66a.534.534%200%2001-.632.118c-3.32-1.657-6.006-4.512-7.566-8.038a.62.62%200%2001.11-.672l1.564-1.66-.713-3.532zM17.296%2010.078c-.308%200-.558-.265-.558-.592%200-4.577-3.503-8.3-7.81-8.3-.308%200-.558-.265-.558-.592%200-.328.25-.593.558-.593%202.384%200%204.626.986%206.312%202.778%201.686%201.791%202.614%204.173%202.614%206.707%200%20.327-.25.592-.558.592z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20d%3D%22M15.065%2010.078c-.308%200-.558-.265-.558-.593%200-3.268-2.503-5.928-5.58-5.928-.307%200-.557-.265-.557-.592%200-.328.25-.593.558-.593%203.691%200%206.695%203.19%206.695%207.113%200%20.328-.25.593-.558.593z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20d%3D%22M12.833%2010.078c-.308%200-.558-.266-.558-.593%200-1.961-1.502-3.557-3.347-3.557-.308%200-.558-.265-.558-.593%200-.327.25-.592.558-.592%202.46%200%204.463%202.127%204.463%204.742%200%20.327-.25.593-.558.593z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
    }
  }
  &__disclaimer{
    background-color: #081318;
    padding: 20px 0;
    .dke_container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__copyright{
    font-size: 11px;
    color: #EAEAEA;
  }
}