@use '../media';
.dke_footer{
  &__container{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #192023;
    .dke_container{
      display: flex;
      justify-content: space-between;
      @include media.sm {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 480px;
    padding: 10px 0;
    position: relative;
    @include media.md {
      max-width: 345px;
    }
    @include media.sm {
      order: 2;
      margin-top: 10px;
    }
    &::before{
      @include media.sm {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 1px;
        width: 290px;
        background: #fff;
      }
    }
    &:last-child{
      justify-content: flex-end;
      @include media.sm {
        justify-content: center;
      }
    }
  }
  &__link{
    font-size: 14px;
    color: #fff;
    margin: 5px 15px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: ease 0.3s;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
  &__socials-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    @include media.sm {
      width: 100%;
      max-width: 290px;
      justify-content: center;
      align-items: center;
      .dke_social-item:first-child{
        margin-left: 0;
      }
    }
  }
  &__social-link{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    color: #fff;
    @include media.sm {
      margin-left: 6px;
      margin-right: 6px;
    }
    span, noindex{
      margin-left: 10px;
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
      @include media.md {
        margin-left: 5px;
      }
    }
    &:hover{
      span, noindex{
        border-bottom: 1px solid #fff;
      }
    }
    &:not(:first-child){
      margin-left: 12px;
      @include media.sm {
        margin-left: 6px;
        margin-right: 6px;
      }
    }
    img, svg{
      max-width: 28px;
      max-height: 28px;
    }
    img{
      object-fit: contain;
    }
  }
  &__contacts{
    padding: 10px 0;
    width: 25%;
    font-style: normal;
    @include media.sm {
      padding-top: 0;
      max-width: 290px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
  &__contact{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    display: block;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    a{
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
      &:hover{
        border-bottom: 1px solid #fff;
      }
    }
    span{
      display: block;
      color: #A9A9A9;
      font-size: 14px;
      font-weight: 100;
      line-height: 0.8;
      letter-spacing: 0.5px;
      margin-top: 2px;
    }
    &_mail, &_tel{
      padding-left: 40px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &_mail::before{
      background-image: url('../../icons/mail.system.svg');
    }
    &_tel::before{
      background-image: url('../../icons/tel.system.svg');
    }
  }
  &__disclaimer{
    background-color: #081318;
    padding: 20px 0;
    .dke_container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media.sm {
        flex-direction: column;
      }
    }
  }
  &__copyright{
    font-size: 11px;
    color: #EAEAEA;
  }
  &__pay{
    @include media.sm {
      margin-top: 15px;
    }
  }
}