@use '../media';
@import '/node_modules/blueimp-gallery/css/blueimp-gallery.css';
@import '/node_modules/blueimp-gallery/css/blueimp-gallery-indicator.css';

.dke_gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @include media.xs {
    display: none;
  }

  &__item{
    width: calc(50% - 15px);
    margin-bottom: 20px;
    position: relative;

    @include media.sm {
      width: calc(25% - 22.5px);
      margin-right: 30px;
    }

    &:nth-child(4n){
      @include media.sm {
        margin-right: 0px;
      }
    }

    a{
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      display: block;
    }

    img{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }

  &-container{
    margin-top: 12px;
  }
}

.blueimp-gallery{
  background: rgba(0, 0, 0, .9);
}
.dke_gallery-carousel > .slides > .slide > .slide-content{
  width: 100%;
  object-fit: cover;
}
.dke_slider-items {
  display: none;
}
.dke_gallery-carousel{
  display: none;
  border-radius: 10px;
  overflow: hidden;

  @include media.xs {
    display: block;
  
    .blueimp-gallery-svgasimg > .next, .blueimp-gallery-svgasimg > .prev {
      background: url('/src/icons/galery-arrow.system.svg');
      background-repeat: no-repeat;
      background-size: 10px 14px;
      background-position: center;
    }
  
    .next, .prev{
      border: 0;
      border-radius: 0;
      opacity: 1;
      width: 30px;
      height: 30px;
      margin-top: 0;
      font-size: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .next, .prev, .indicator {
      display: block;
    }
  
    .next {
      left: auto;
      right: 0;
    }
  
    .prev {
      left: 0;
      right: auto;
      transform: rotate(180deg) translateY(50%);
    }
  }
}

