@use '../colors';
@use '../variables';
@use '../media';

.dke_iconlinks{
  &__item{
    width: 20%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;

    @include media.lg {
      width: 33.3333%;
    }

    @include media.sm {
      width: 50%;
    }
  }
  &__icon{
    width: 60px;
    height: 60px;

    & > *{
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title{
    color: #49AADA;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;

    @include media.xs {
      font-size: 13px;
    }
    
    span{
      border-bottom: 1px solid transparent;
      transition: border-color variables.$transition;
    }
  }
  a:hover{
    .dke_iconlinks__title span{
      border-color: #49AADA;
    }
  }
  .dke_container{
    display: flex;
    flex-wrap: wrap;
  }
}