@use '../colors';
@use '../variables';
@use '../media';
@use '../icons' as *;

.dke_item-drop-down-mobile {
  &._hr{
    padding-top: 20px;
    margin-top: 20px;
    position: relative;

    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: calc(100% - 60px);
      background-color: colors.$border2;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
    color: colors.$text3;
    text-align: left;
    outline: none;
    border: none;
    background: none;

    &._disabled{
      pointer-events: none;
    }

    &-text{
      display: flex;
      align-items: center;
      align-self: stretch;
    }
    
    @include media.sm {
      max-width: 100%;
      width: 100%;
    }
  }

  &__head-link {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
  }

  &__head-icon {
    margin-right: 17px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;

    &_arrow{
      width: 18px;
      height: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform variables.$transition;
      background: get-icon('arrow-drop-down', colors.$icon10) center / contain no-repeat;
    }
  }

  &__body {
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px 0 20px;
    border-top: 1px solid colors.$border2;
    
    &-wrapper{
      transition: all .3s ease-out;
      overflow-y: hidden;
      max-height: 0;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    padding: 0 15px;
    min-width: auto;
    text-decoration: none;
    color: inherit;
  }

  &__icon {
    height: 48px;
    margin-right: 17px;
    width: 33px;
    flex: 0 1 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding: 11px 0;
  }

  &.js_dke_active {
    .dke_item-drop-down-mobile__head-icon_arrow{
      transform: rotate(180deg);
    }

    .dke_item-drop-down-mobile__body-wrapper{
      margin-bottom: 15px;
    }
  }
}
