@use '../colors';
@use '../variables';
@use '../icons' as *;

.dke_item-drop-down {
  transition: max-height variables.$transition;

  &__link {
    display: flex;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    height: 42px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding: 0.65em 0.3em 0.65em 0.94em;
    flex: 0 1 calc(100% - 30px);
  }

  &__text-wrapper {
    display: inline;
  }

  &__btn {
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    padding: 0;

    &._disabled {
      pointer-events: none;
    }

    .dke_item-drop-down {
      &__text {
        padding: 0;
        white-space: normal;

        &-wrapper {
          position: relative;
          text-align: left;
          padding: 0.75em 0.3em 0.75em 0.94em;
          white-space: nowrap;
          flex: 0 1 calc(100% - 30px);
        }

        &-icon {
          display: inline-block;
          background: get-icon('arrow-drop-down', colors.$text) no-repeat;
          width: 11px;
          height: 11px;
          transition: transform variables.$transition;
          position: relative;
          right: -0.5em;
        }
      }
    }
  }

  &__sublist {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    &-wrapper {
      transition: max-height variables.$transition,
                  margin-bottom variables.$transition;
      max-height: 0;
      overflow: hidden;
      padding: 0 0 0 45px;
    }
  }

  &__sublist-item {
    padding-top: 0.6em;
  }

  &__sublist-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: color variables.$transition;

    &:hover {
      color: colors.$link;
      text-decoration: underline;
    }
  }

  &.js_dke_active {
    .dke_item-drop-down__text-icon {
      transform: rotate(180deg);
    }

    .dke_item-drop-down__sublist-wrapper {
      margin-bottom: 10px;
    }
  }
}
