@use '../colors';
@use '../variables';

.dke_languages {
  font-size: 14px;
  position: relative;

  &__current {
    cursor: pointer;
    padding: 10px 10px;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      margin-left: 10px;
      background: url('src/icons/small-dropdown.system.svg') center center
        no-repeat;
    }
  }

  &__list {
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow-y: hidden;
    transition: all variables.$transition;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0px 9px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    display: flex;
    line-height: 1;
    border: 1px solid transparent;
    background: #ffffff;

    &_opened {
      height: auto;
      border: 1px solid colors.$lightGrey;
      display: flex;
      padding: 6px 9px;
    }
  }

  &__list-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all variables.$transition;

    &:hover {
      color: colors.$main;
      border-bottom: 1px solid colors.$main;
    }
  }
}
