@use '../colors';
@use '../media';

.dke_list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  li {
    font-size: 21px;
    position: relative;

    @include media.sm {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 0.619em;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: colors.$buttonMain;
      background-image: url("../../icons/list-black-arrow.system.svg");
      background-size: 12px auto;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px;
      margin-bottom: -7px;

      @include media.sm {
        width: 28px;
        height: 28px;
      }
    }
  }
}
