@use '../colors';
@use '../media';

.dke {
  &_menu-mobile {
    transition: left .3s ease-out;
    position: fixed;
    left: -110%;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 4;
    color: #fff;  

    &._cool-dark {
      background-color: colors.$dark2;

      .dke_drop-down-menu__top-list-link{
        &:hover, &:focus {
          background-color: colors.$dark4;
        }    
      }

      .dke_item-drop-down-mobile__body, .dke_subitem-drop-down__body{
        background-color: colors.$dark4;
      }
    }

    &._warm-dark {
      background-color: colors.$dark5;

      .dke_drop-down-menu__top-list-link{
        &:hover, &:focus {
          background-color: colors.$dark6;
        }    
      }

      .dke_item-drop-down-mobile__body, .dke_subitem-drop-down__body{
        background-color: colors.$dark7;
      }
    }

    &__nav{
      .dke_container{
        @media screen and (max-width: 400px) {
          padding-left: 6px;
          padding-right: 6px;
        }    

        @media screen and (max-width: 360px) {
          padding-left: 6px;
          padding-right: 6px;
        }    
        
      }
    }

    &__top-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 6px;
      padding: 25px 0;
      list-style-type: none;
      margin: 0;
      width: 100%;

      &-item{
        flex: 0 1 calc(50% - 4px);
        width: calc(50% - 4px);
    
        @media screen and (max-width: 400px) {
          flex: 0 1 calc(50% - 2px);
          width: calc(50% - 2px);
        }
      }

      &-link{
        position: relative;
        padding: 56px 15px 11px;
        border: 1px solid #BFBFBF;
        border-radius: 9px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s ease-out;
        display: inline-block;
        text-decoration: none;
        color: inherit;
      }

      &-icon{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
          display: block;
        }    
      }
      &-text{
        @media screen and (max-width: 400px) {
          word-break: break-all;
        }      
      }
    }

    svg {
      fill: #F4F4F4;
    }
  }
}
// .dke_drop-down-menu {
//   &__top-icon {
//     position: absolute;
//     top: 10px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 40px;
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     svg{
//       display: block;
//     }
//   }

//   &__top-list-item {
//     flex: 0 1 calc(50% - 4px);
//     width: calc(50% - 4px);

//     @media screen and (max-width: 400px) {
//       flex: 0 1 calc(50% - 2px);
//       width: calc(50% - 2px);
//     }
//   }

//   &__top-list-link {
//     position: relative;
//     padding: 56px 15px 11px;

//     border: 1px solid #BFBFBF;
//     border-radius: 9px;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     transition: all .3s ease-out;

//     display: inline-block;
//     text-decoration: none;
//     color: inherit;
//   }
// }

.dke_subitem-drop-down {
  &__head {
    display: flex;
    font-size: 20px;
    color: #fff;
    width: 100%;
    cursor: pointer;
    align-items: stretch;
    outline: none;
    border: none;
    background: none;
    padding-top: 10.5px;
    padding-bottom: 10.5px;

    &-icon {
      margin-right: 17px;
      width: 30px;
      flex: 0 1 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title{
      flex: 0 1 calc(100% - 30px);
      text-align: left;
    }
  }

  &__body {
    transition: all .3s ease-out;
    background-color: colors.$dark4;
    overflow: hidden;
    max-height: 0;

    &._active {
      padding-top: 8px;
      padding-bottom: 15px;  
      max-height: 1000px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: colors.$gray1;
  }

  &__list-item {

    & + & {
      margin-top: 10px;
    }
  }

  &__list-link {
    padding-left: 50px;
    width: 100%;

    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}
.dke_bottom-menu-mobile {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}
._active-menu{

  @include media.sm{
    overflow-y: hidden;
  }

  .dke_menu-mobile{
    left: -110%;

    @include media.sm{
      left: 0;
    }
  }
}
  
  
