@use "../media";
@use "../variables";
@use "../colors";

.dke_menu-links {
  margin-bottom: 50px;

  &__title {
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 17px;

    @include media.lg{
      font-size: 15px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    @media screen and (max-width: 550px) {
      gap: 14px;
      justify-content: center;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    flex: 0 1 auto;
    column-gap: 20px;
    box-shadow: 2px 2px 5px colors.$shadowDark;
    border-radius: 12px;
    line-height: 1.1;
    color: colors.$dark5;
    font-size: 16px;
    padding: 12px 25px;
    min-width: 190px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include media.lg{
      font-size: 14px;
    }

    @include media.md{
      padding: 15px 25px;
    }

    @media screen and (max-width: 550px) {
      column-gap: 8px;
    }

    @media screen and (max-width: 550px) {
      width: 70%;
      column-gap: 15px;
    }

    @media screen and (max-width: 410px) {
      width: 80%;
      column-gap: 14px;
    }
    
    &-icon {
      width: 40px;
      min-width: 40px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        object-position: center;
      }
    }
    
    span{
      display: inline-block;
      max-width: min-content;

      @media screen and (max-width: 550px) {
        flex: 1 1 auto;
        max-width: 100%;
        text-align: center;
      }
    }

    &:hover, &:focus {
      span {
        color: colors.$blue1;
        text-decoration: underline;
      }
    }
  }
}
