@use '../colors';
@use '../variables';
@use '../media';

.dke_menu {
  display: flex;
  justify-content: stretch;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    flex-grow: 1;
    display: block;
    position: relative;

    &:first-child {
      &::after {
        left: 100%;
      }
    }

    &::after {
      content: '';
      height: calc(100% - 20px);
      top: 10px;
      bottom: 10px;
      width: 1px;
      position: absolute;
      left: 0;
      background: colors.$border;
      z-index: 1;
    }
  }

  &__link {
    text-align: center;
    font-size: 14px;
    padding: 12px 32px;
    color: colors.$text3;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background variables.$transition;

    &:hover {
      background: colors.$link2;
    }

    @include media.lg {
      padding: 12px 18px;
    }

    @include media.md {
      font-size: 12px;
      padding: 12px 9px;
    }
  }
}
