@use '../colors';
@use '../media';
@use '../variables';
@use '../icons' as *;

.dke_head-navbar {
  color: white;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility variables.$transition, opacity variables.$transition;
    visibility: hidden;
    opacity: 0;
  }

  &__wrapper {
    background: colors.$background3;
    position: relative;
    z-index: 4;
  }
}

.dke_navbar {
  &._cool-dark {
    background-color: colors.$background;
  }
  &._warm-dark {
    background-color: colors.$mobileBackground;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;

    @include media.sm {
      justify-content: space-between;
    }
  }

  &__head {
    position: relative;
    z-index: 3;
  }

  &__nav {
    width: 100%;

    @include media.sm {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include media.sm {
      display: block;
      margin-left: -15px;
    }
  }

  &__contacts {
    margin: 0;
    display: none;

    @include media.sm {
      display: flex;
    }
  }

  &__contact {
    padding: 0;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &_chat{
      background-image: get-icon('chat');
    }

    &_call{
      background-image: get-icon('call');
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
