@use '../colors';
@use '../media';
@use './item-drop-down';

.dke_drop-down-navbar {
  width: 100%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: colors.$dark3;
  max-height: 0;
  overflow-y: hidden;
  padding: 0;
  transition: all .3s ease-out;
  border: 0 solid transparent;

  position: absolute;
  z-index: 4;

  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }

  &__nav {
    width: 100%;
    display: flex;
    gap: 1%;
  }
  &__list {
    flex: 0 1 32%
  }
  
}

// стили для открытых меню; класс для body
._active-menu{

  .dke_drop-down-navbar{
    padding: 40px 0 50px;
    border: 1px solid #C0C0C0;
    max-height: 80vh;
    animation-name: hidden-scroll;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
    @include media.sm{
      padding: 0;
      border: 0 solid transparent;  
      max-height: 0;
    }
  }
  
  .dke_head-navbar{

    &::after {
      visibility: visible;
      opacity: 1;    
    }
  }

}


