@use '../colors';
@use '../media';

.dke_head-navbar {
	color: white;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all .3s ease-out;
		visibility: hidden;
		opacity: 0;
	}

	&__wrapper{
		background: colors.$twilightGrey;
		position: relative;
		z-index: 4;
	}

}
.dke_navbar {
	
	&._cool-dark {
		background-color: colors.$dark2;
	}
	&._warm-dark {
		background-color: colors.$dark5;
	}

	&__container{
		display: flex;
		align-items: center;  
		
		position: relative;
		z-index: 3;

		@include media.sm {
			justify-content: space-between;
		}      
	}

	&__head {
		position: relative;
		z-index: 3;    
	}
	
	&__nav {
		width: 100%;

		@include media.sm {
			display: none;
		}
	}

	&__burger {
		display: none;

		&._disabled{
      pointer-events: none;
    }

		@include media.sm {
				display: block;
				margin-left: -15px;
		}
	}

	&__contacts {
	margin: 0;
	display: none;

	@include media.sm {
			display: flex;
	}
	}

	&__contact {
	padding: 0;
	background: none;
	border: none;
	width: 32px;
	height: 32px;
	margin-right: 8px;

	&:last-child {
			margin-right: 0;
	}
	}

	&__contact-icon {
	width: 32px;
	height: 32px;
	}
	
}
