@use '../colors';
@use '../media';

.dke_offer {
  margin: 14px 0 37px;
  padding: 21px 16px;
  background-color: colors.$background7;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 7%);
  border-radius: 13px;
  color: colors.$text8;
  
  @include media.sm {
    background-color: colors.$background9;
  }

  &__text {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.4;
    text-align: center;
    padding: 0 2em;
    position: relative;
    margin-bottom: 2.5em;

    @include media.sm {
      font-size: 21px;
      line-height: 1.3;
      margin-bottom: 2.3em;
      padding: 0;
    }

    &::after {
      @include media.sm {
        content: '';
        position: absolute;
        bottom: -24px;
        margin: auto;
        height: 1px;
        width: 100px;
        background: colors.$link3;
        left: 0;
        right: 0;
      }
    }
  }

  &__img {
    height: 143px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin: 18px auto 2px;
    background-color: colors.$background10;
    overflow: hidden;

    @include media.sm {
      height: 170px;
    }

    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    padding: 17px 27px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 7%);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    @include media.sm {
      display: flex;
      flex-wrap: wrap;
      padding: 17px 21px;
    }
  }

  &__caption {
    font-size: 18.5px;
    line-height: 1.3;
    margin-bottom: 1.01em;

    @include media.sm {
      font-size: 16.6px;
      margin-bottom: 1.2em;
    }
  }

  &__list-item {    
    font-size: 14px;

    &+&{
      margin-top: .7em;
    }
  }

  &__price {
    float: right;
    margin-left: 20px;

    @include media.sm {
      float: none;
      flex: 0 1 100%;
      order: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 0;
      margin-top: 17px;
    }
  }

  &__price-value {
    font-size: 33px;
    line-height: 1;
    padding: 3px 1px 15px 1px;
    text-align: center;

    @include media.sm {
      padding: 0 14px 0px 0;
      font-size: 22px;
    }
  }

  &__bottom-desc{
    font-size: 14px;
    flex: 0 1 100%;
    margin-top: .8em;
  }
}

.dke_item-offer {
  display: flex;
  gap: 10px;
  padding: .2em .2em 0;

  &__icon {
    height: 18px;
    width: 18px;
    flex: 0 1 18px;

    path {
      fill: colors.$icon4;
    }
  }

  &__text {
    flex: 0 1 calc(100% - 18px);
  }
}
