@use '../colors';
@use '../media';

.dke_price-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &_justified {
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media.sm {
      justify-content: flex-start;
    }

    @include media.xs {
      justify-content: space-between;
    }
  }

  @include media.xs {
    &_sticky {
      justify-content: space-around;
      z-index: 30;
      background: colors.$background4;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }
  }

  &_small {
    .dke_price-box__price {
      font-size: 29px;
      flex-shrink: 0;
    }
  }

  &__price {
    font-size: 36px;
    color: colors.$text;
    margin-right: 12px;

    @include media.md {
      font-size: 30px;
    }

    & > svg,
    & > img {
      max-width: 19px;
      height: auto;
      display: inline;

      @include media.md {
        max-width: 16px;
      }
    }
  }

  &__sub-price {
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    display: block;

    & > svg,
    & > img {
      max-width: 5.5px;
      height: auto;
      display: inline;
    }
  }
}
