@use '../colors';
@use '../media';

.dke_remind-me {
  border: 1px solid colors.$lightGrey;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.25);
  border-radius: 12px;

  @include media.sm {
    display: flex;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid colors.$lightGrey;
  }

  @include media.xs {
    display: block;
    border: 1px solid colors.$lightGrey;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.25);
  }

  &__text {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid colors.$lightGrey;

    @include media.md {
      font-size: 12px;
      border-bottom: none;
    }

    @include media.sm {
      width: 60%;
      padding-left: 0;
    }

    @include media.xs {
      padding: 12px;
      font-size: 14px;
      width: auto;
      border-bottom: 1px solid colors.$lightGrey;
    }
  }

  &__price-box {
    display: flex;
    align-items: center;
    padding: 12px;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media.md {
      flex-direction: column;
      padding: 0;
    }

    @include media.sm {
      flex-direction: row;
      justify-content: flex-start;
    }

    @include media.xs {
      padding: 12px;
      justify-content: space-between;
    }
  }

  &__price {
    color: colors.$body;
    font-size: 29px;
    flex-shrink: 0;
    margin-right: 12px;

    @include media.md {
      width: 100%;
      text-align: center;
      margin-right: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid colors.$lightGrey;
    }

    @include media.sm {
      margin-right: 12px;
      text-align: left;
      width: auto;
      padding: 12px;
      border-bottom: none;
    }

    @include media.xs {
      padding: 0;
    }
  }

  &__subprice {
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    display: block;
  }

  &__button {
    max-width: 200px;
    width: 100%;

    @include media.md {
      width: 90%;
      margin: 10px;
    }

    @include media.sm {
      margin: 0;
      width: 100%;
    }
  }
}
