@use '../colors';
@use '../media';

.dke_remark{
  position: relative;
  border-radius: 12px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 65px;

  @include media.md {
    padding-left: 55px;
  }

  &, ol, ul {
    font-size: 17px;
  
    @include media.lg{
      font-size: 15px;
    }
  }

  p:last-child{
    margin-bottom: 0;
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    li{
      list-style: none;
    }

    li + li{
      margin-top: 1.4em;
    }
  }

  ol{
    counter-reset: myCounter;

    li{
      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) '. ';
      }
    }
  }

  ul{
    margin-left: -18px;

    li{
      position: relative;
      list-style: none;
      padding-left: 18px;

      &::before{
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: colors.$body;
        top: 8px;
        left: 0;
      }
    }
  }

  &::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
  }

  &._blue{
    background: colors.$lightBlue;
    box-shadow: 2px 2px 5px rgba(colors.$gray4, 25%);
    padding-top: 25px;
    padding-bottom: 25px;

    &::before{
      top: 25px;
      left: 25px;
      width: 24px;
      height: 23px;
      background-image: url('/src/icons/trumpet.system.svg');

      @include media.md {
        left: 18px;
      }
    }

    h2, strong {
      font-size: 17px;

      @include media.lg{
        font-size: 15px;
      }
    }
  }

  &._light{
    background-color: #fff;
    border: 2px solid colors.$lightBlue;
    padding-top: 20px;
    padding-bottom: 22px;

    &::before{
      top: 22px;
      left: 22px;
      width: 26px;
      height: 26px;
      border-radius: 7px;
      background-image: url('/src/icons/star-small.system.svg');
      background-color: colors.$lightBlue;
      background-position: center;

      @include media.md {
        left: 18px;
      }    
    }
  }

  &._gray{
    padding: 19px;
    margin-bottom: 20px;
    background-color: colors.$lightGrey3;
    border: 1px solid colors.$lightGrey4;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  }
}