@use '../colors';
@use '../media';

.dke_remark{
  position: relative;
  border-radius: 12px;
  margin-bottom: 30px;
  font-size: 17px;

  @include media.lg{
    font-size: 15px;
  }

  p:last-child{
    margin-bottom: 0;
  }
  
  ol{
    counter-reset: myCounter;
    padding-left: 0;
    margin-bottom: 0;

    li{
      list-style: none;

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) '.';
      }
    }

    li + li{
      margin-top: 1.4em;
    }
  }

  &::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
  }

  &._blue{
    background: colors.$lightBlue;
    box-shadow: 2px 2px 5px colors.$shadowDark;
    padding: 25px 20px 25px 65px;

    &::before{
      top: 25px;
      left: 25px;
      width: 24px;
      height: 23px;
      background-image: url("/src/icons/trumpet.system.svg");
    }

    h2, strong {
      font-size: 17px;

      @include media.lg{
        font-size: 15px;
      }
    }
  }

  &._light{
    background-color: #FFFFFF;
    border: 2px solid colors.$lightBlue;
    padding: 20px 20px 22px 65px;

    &::before{
      top: 22px;
      left: 22px;
      width: 26px;
      height: 26px;
      border-radius: 7px;
      background-image: url("/src/icons/star.system.svg");
      background-color: colors.$lightBlue;
      background-position: center;
    }
  }
}