@use '../colors';

.dke_remind-me {
  border: 1px solid colors.$lightGrey;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.25);
  border-radius: 12px;

  &__text {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid colors.$lightGrey;
  }

  &__price {
    padding: 12px;
    flex-wrap: nowrap;
  }
}
