@use '../media';

.dke_social-item {
  display: block;
  margin: 5px;

  @include media.sm {
    margin-right: 0;
    margin-left: 7px;
  }

  &__link {
    display: block;
  }

  &__icon {
    width: 30px;
    height: 30px;

    @include media.sm {
      width: 27px;
      height: 27px;
    }

    &_large {
      width: 32px;
      height: 32px;
    }
  }
}
