@use '../colors';

.dke_star-rating {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 25px;
  gap: 10px;

  &__inner {
    position: relative;
    height: 20px;
    width: 115px;
    overflow: hidden;
    color: colors.$icon;
  }

  &__empty {
    fill: transparent;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    svg{
      fill: colors.$icon;
    }
  }

  &__text{
    font-size: 12px;
    color: colors.$text2;
    flex: 0 1 calc(100% - 130px);
  }
}