@use '../variables';
@use '../media';
@use '../colors';

p {
  margin-top: 0;
  margin-bottom: 0.625em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.556em;
  font-weight: 600;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

strong,
b {
  font-weight: 600;
}

ul:not([class]) {
  font-size: 14px;
  margin: 0;

  li:not([class]) {
    margin-bottom: 0.714em;
  }
}

p:not([class]) a, ul:not([class]) li:not([class]) a, ol:not([class]) li:not([class]) a {
  color: colors.$blue1;
  border-bottom: 1px solid transparent;
  transition: border-color variables.$transition;

  &:hover {
    border-bottom: 1px solid colors.$blue1;
  }
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table td,
table th {
  border: 1px solid #000;
}

.dke_html {
  padding: 30px 0 40px 0;

  .dke_container {
    display: block;
  }

  &-excursion{    
    &, ul{
      font-size: 17px;

      @include media.lg{
        font-size: 15px;
      }  
    }
    
    &__btn{
      text-align: left;
      margin-top: 15px;
      margin-bottom: 10.5px;

      div{
        color: colors.$blue1;
        text-align: right;
        font-weight: 600;
  
        &::after{
          content: '';
          display: inline-block;
          width: 12px;
          height: 6px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("/src/icons/arrow-blue.system.svg");
          transition: all variables.$transition;
        }
      }

      &._active{
        div::after{
          transform: rotate(180deg);
        }
      }
    }

    &__list{
      list-style: none;
      columns: 2;
      line-height: 1.4;
      padding: 0;

      li{
        padding-left: 1.4em;
        margin-bottom: 0.5em;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          left: 0;
          top: 5px;
          width: 15px;
          height: 15px;
          background-image: url("/src/icons/list-arrow.system.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
      }
    }
  }
}

