@use '../variables';
@use '../media';
@use '../colors';

p {
  margin-top: 0;
  margin-bottom: 0.625em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.556em;
  font-weight: 600;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

strong,
b {
  font-weight: 600;
}

ul:not([class]) {
  font-size: 14px;
  padding: revert;
  list-style-type: revert;

  li:not([class]) {
    margin-bottom: 0.714em;
  }
}

p:not([class]) a, ul:not([class]) li:not([class]) a, ol:not([class]) li:not([class]) a {
  color: colors.$blue1;
  border-bottom: 1px solid transparent;
  transition: border-color variables.$transition;

  &:hover {
    border-bottom: 1px solid colors.$blue1;
  }
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table td,
table th {
  border: 1px solid #000;
}

.dke {
  &_html {
    padding: 30px 0 40px 0;

    .dke_container {
      display: block;
    }
  }

  &_lead{    
    &, ul{
      font-size: 17px;

      @include media.lg{
        font-size: 15px;
      }  
    }
  }
}

