@use '../colors';
@use '../media';

.dke_topbar {
  width: 100%;

  &__container {
    min-height: 70px;
    padding: 10px 15px;
    align-items: center;

    @include media.sm {
      min-height: 65px;
    }
  }

  &__burger {
    display: block;
    margin-right: 10px;

    @include media.sm {
      display: none;
    }
  }

  &__logo {
    margin-top: 5px;
    margin-right: 28px;

    &_centered {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    color: colors.$text2;

    @include media.lg {
      display: none;
    }
  }

  &__languages {
    margin-left: auto;
    margin-right: 10px;

    @include media.sm {
      margin-right: 0;
    }
  }

  &__social {
    flex-shrink: 0;
    margin: 0 15px 0 0;
    padding: 0;

    @include media.sm {
      margin-right: 0;
    }
  }

  &__contacts {
    display: flex;

    @include media.sm {
      display: none;
    }
  }
}
