@use '../colors';
@use '../variables';
@use '../media';

.dke_tour-feature {
  display: flex;
  position: relative;

  &__icon-wrapper {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 14px;
  }

  &__icon {
    color: colors.$main;
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 17px;
    position: relative;

    @include media.sm {
      font-size: 15px;
    }

    &_order {
      @include media.lg {
        font-size: 15px;
      }
    }

    a {
      border-bottom: 1px solid transparent;
      transition: border-color variables.$transition;

      &:hover {
        border-bottom: 1px solid colors.$main;
      }
    }
  }

  &__onboard-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: colors.$buttonMain;
    padding: 5px;
  }

  &__flag {
    font-size: 17px;
    display: inline-block;
    width: 22px;
    height: 17px;
  }

  &__flag-icon {
    margin-top: 3px;
  }

  &__prices-button {
    color: colors.$main;

    &::after {
      content: '';
      margin-bottom: 2px;
      margin-left: 4px;
      display: inline-block;
      width: 11px;
      height: 6px;
      background: url('src/icons/arrow-drop-down-blue.system.svg');
    }
  }

  &__drop-down-price {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
  }
}
