@use '../colors';
@use '../variables';
@use '../media';

.dke_tour-feature {
  display: flex;

  &__icon-wrapper {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 14px;
  }

  &__icon {
    color: colors.$main;
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 17px;

    @include media.sm {
      font-size: 15px;
    }

    &_order {
      @include media.lg {
        font-size: 15px;
      }
    }

    a {
      border-bottom: 1px solid transparent;
      transition: border-color variables.$transition;

      &:hover {
        border-bottom: 1px solid colors.$main;
      }
    }
  }

  &__onboard-icon {
    font-family: 'icomoon';
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: colors.$buttonMain;
    padding: 5px;
  }
}
