@use '../media';

.dke_vlog-list{
  margin-bottom: 30px;

  &__container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @include media.md{
      justify-content: space-between;
    }

    .dke_vlog-item{
      width: calc(33.333% - 20px);
      margin-right: 30px;
      
      &:nth-child(3n){
        margin-right: 0;
      }

      @include media.md{
        width: calc(50% - 15px);
        margin-right: 0;
      }

      @include media.sm{
        width: 100%;
      }
    }
  }

  &__more{
    font-size: 17px;
  }

  .dke_container{
    flex-direction: column;
    align-items: center;
  }
}