@use '../variables';
@use '../media';

.dke_vlog-item{
  display: flex;
  margin-bottom: 30px;
  
  @include media.md{
    flex-direction: column;
  }

  &__preview{
    width: 58.5%;
    margin-right: 30px;
    flex-shrink: 0;
    transition: opacity variables.$transition;

    @include media.md{
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:hover{
      opacity: 0.8;
    }
  }

  &__description{
    display: flex;
    flex-direction: column;
  }

  &__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.4em;

    a{
      color: #312d2d;
      transition: opacity variables.$transition;
      &:hover{
        opacity: 0.8;
      }
    }
  }

  &__text{
    font-size: 16px;
    margin-bottom: 1em;
  }

  &__link{
    color: #49AADA;
    margin-top: auto;
    font-weight: 600;
    align-self: baseline;
    border-bottom: 1px solid #49AADA;
    transition: border-color variables.$transition;

    &:hover{
      border-color: transparent;
    }
  }

  &_small{
    flex-direction: column;

    .dke_vlog-item__preview{
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    .dke_vlog-item__title{
      font-size: 16px;
      margin-bottom: 0.6em;
    }

    .dke_vlog-item__description{
      flex-grow: 1;
    }
  }
}