<div class="dke_menu-mobile _warm-dark" id="dke_menu-mobile">
	<nav class="dke_menu-mobile__nav">
		<div class="dke_container">
			<ul class="dke_menu-mobile__top-list" role="tree">
				<li class="dke_menu-mobile__top-list-item" role="treeitem">
					<a href="#" class="dke_menu-mobile__top-list-link">
					<div class="dke_menu-mobile__top-list-icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_menu-mobile__top-list-text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_menu-mobile__top-list-item" role="treeitem">
					<a href="#" class="dke_menu-mobile__top-list-link">
						<div class="dke_menu-mobile__top-list-icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_menu-mobile__top-list-text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_menu-mobile__top-list-item" role="treeitem">
					<a href="#" class="dke_menu-mobile__top-list-link">
						<div class="dke_menu-mobile__top-list-icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_menu-mobile__top-list-text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_menu-mobile__top-list-item" role="treeitem">
					<a href="#" class="dke_menu-mobile__top-list-link">
						<div class="dke_menu-mobile__top-list-icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_menu-mobile__top-list-text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_menu-mobile__top-list-item" role="treeitem">
					<a href="#" class="dke_menu-mobile__top-list-link">
						<div class="dke_menu-mobile__top-list-icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_menu-mobile__top-list-text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="dke_menu-mobile__bottom dke_bottom-menu-mobile">
			<ul class="dke_bottom-menu-mobile__list" role="tree">
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem" aria-expanded="false">
					<button class="dke_item-drop-down-mobile__head dke_container" type="button" >
						<div class="dke_item-drop-down-mobile__head-link">
							<div class="dke_item-drop-down-mobile__head-icon">
								<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
							</div>
							<span class="dke_item-drop-down-mobile__head-text">
								Гастрономические и музыкальные
							</span>
						</div>
						<div class="dke_item-drop-down-mobile__head-icon_arrow">
							<img src="src/icons/arrow-white.system.svg" alt="▼">
						</div>
					</button>
					<div class="dke_item-drop-down-mobile__body-wrapper">
						<ul class="dke_item-drop-down-mobile__body" role="group">
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Обзорные экскурсии
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Авторские экскурсии с Денисом Зоткиным
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Тематические экскурсии
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Обзорные экскурсии
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Авторские экскурсии с Денисом Зоткиным
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Тематические экскурсии
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Обзорные экскурсии
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Авторские экскурсии с Денисом Зоткиным
									</span>
								</a>
							</li>
							<li class="dke_item-drop-down-mobile__body-subitem dke_subitem-drop-down" role="treeitem">
								<a class="dke_subitem-drop-down__head dke_container">
									<div class="dke_subitem-drop-down__head-icon">
										<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
									</div>
									<span class="dke_subitem-drop-down__head-title">
										Тематические экскурсии
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Прогулки в Москве
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Прогулки в Москве
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Прогулки в Москве
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Гастрономические и музыкальные
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile _hr" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Автобусные экскурсии по Москве
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Автобусные экскурсии по Казани
						</span>
					</a>
				</li>
				<li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
					<a href="#" class="dke_item-drop-down-mobile__link dke_container">
						<div class="dke_item-drop-down-mobile__icon">
							<img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
						</div>
						<span class="dke_item-drop-down-mobile__text">
							Погнали в Трип
						</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
