<header class="dke_topbar">
  <div class="dke_topbar__container dke_container">
    <button class="dke_topbar__burger dke_burger" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="dke_drop-down-menu" id="btn-drop-down-menu">
      <svg data-role="burgerIcon" class="dke_burger__icon" viewBox="0 0 100 100">
        <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path class="line middle" d="m 30,50 h 40" />
        <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>
    </button>
    <a class="dke_topbar__logo dke_logo" href="https://nevatrip.ru/">
      <img class="dke_logo__icon" src="src/icons/default.svg" alt="Логотип Nevatrip">
    </a>
    <h1 class="dke_topbar__title">Лучшие водные экскурсии по Петербургу</h1>
    <div class="dke_topbar__languages dke_languages">
      <span class="dke_languages__current" data-role="languagesCurrent">Ru</span>
      <ul class="dke_languages__list" data-role="languagesList">
        <li class="dke_languages__list-item">
          <a href="https://en.nevatrip.ru/" class="dke_languages__link">
            En
          </a>
        </li>
      </ul>
    </div>
    <ul class="dke_topbar__social dke_social">
      <li class="dke_social__item dke_social-item">
        <a class="dke_social-item__link dke_social-item__link_instagram" href="https://www.instagram.com/nevatrip.ru/">
        </a>
      </li>
      <li class="dke_social__item dke_social-item">
        <a class="dke_social-item__link" href="https://vk.com/neva.trip">
          <img class="dke_social-item__icon" src="src/icons/vk.system.svg" alt="ВКонтакте">
        </a>
      </li>
      <li class="dke_social__item dke_social-item">
        <a class="dke_social-item__link" href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q">
          <img class="dke_social-item__icon" src="src/icons/youtube.system.svg" alt="YouTube">
        </a>
      </li>
      <li class="dke_social__item dke_social-item">
        <a class="dke_social-item__link" href="https://t.me/NevatripBot">
          <img class="dke_social-item__icon" src="src/icons/telegram.system.svg" alt="Telegram">
        </a>
      </li>
    </ul>
    <address class="dke_topbar__contacts dke_contacts">
      <div class="dke_contacts__contact">
        <div class="dke_contacts__icon-wrapper">
          <img class="dke_contacts__icon" src="src/icons/phone.svg" alt="">
        </div>
        <a class="dke_contacts__link" href="tel:+78122449824">
          8 812 244-98-24
        </a>
      </div>
      <div class="dke_contacts__contact">
        <div class="dke_contacts__icon-wrapper">
          <img class="dke_contacts__icon" src="src/icons/email.svg" alt="">
        </div>
        <a class="dke_contacts__link" href="mailto:info@nevatrip.ru">
          info@nevatrip.ru
        </a>
      </div>
    </address>
  </div>
</header>