<div class="dke_navbar__drop-down-menu dke_drop-down-navbar" id="dke_drop-down-menu">
  <div class="dke_drop-down-navbar__wrapper">
    <div class="dke_container">
      <nav class="dke_drop-down-navbar__nav">
        <ul class="dke_drop-down-navbar__list" role="tree">
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Яхтинг
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <br>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Яхтинг
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
        </ul>
        <ul class="dke_drop-down-navbar__list" role="tree">
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem">
            <a href="#" class="dke_item-drop-down__link">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text">
                Гастрономические и музыкальные
              </span>
            </a>
          </li>
        </ul>
        <ul class="dke_drop-down-navbar__list" role="tree">
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem" aria-expanded="false">
            <button class="dke_item-drop-down__btn" type="button">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text-wrapper">
                <span class="dke_item-drop-down__text">
                  Гастрономические и музыкальные
                </span>
              </span>
            </button>
            <ul class="dke_item-drop-down__sublist" role="group">
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
            </ul>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem" aria-expanded="false">
            <button class="dke_item-drop-down__btn" type="button">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text-wrapper">
                <span class="dke_item-drop-down__text">
                  Гастрономические и музыкальные
                </span>
              </span>
            </button>
            <ul class="dke_item-drop-down__sublist" role="group">
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
            </ul>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem" aria-expanded="false">
            <button class="dke_item-drop-down__btn" type="button">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text-wrapper">
                <span class="dke_item-drop-down__text">
                  Гастрономические и музыкальные
                </span>
              </span>
            </button>
            <ul class="dke_item-drop-down__sublist" role="group">
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
            </ul>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem" aria-expanded="false">
            <button class="dke_item-drop-down__btn" type="button">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text-wrapper">
                <span class="dke_item-drop-down__text">
                  Гастрономические и музыкальные
                </span>
              </span>
            </button>
            <ul class="dke_item-drop-down__sublist" role="group">
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
            </ul>
          </li>
          <li class="dke_drop-down-navbar__list-item dke_item-drop-down" role="treeitem" aria-expanded="false">
            <button class="dke_item-drop-down__btn" type="button">
              <div class="dke_item-drop-down__icon">
                <img src="src/icons/moon.svg" alt="Гастрономические и музыкальные">
              </div>
              <span class="dke_item-drop-down__text-wrapper">
                <span class="dke_item-drop-down__text">
                  События и праздники
                </span>
              </span>
            </button>
            <ul class="dke_item-drop-down__sublist" role="group">
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  В пригороды
                </a>
              </li>
              <li class="dke_item-drop-down__sublist-item" role="treeitem">
                <a href="#" class="dke_item-drop-down__sublist-link">
                  По Неве с гидом
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>