<div class="dke_menu-mobile _cool-dark" id="dke_menu-mobile">
  <nav class="dke_menu-mobile__nav">
    <div class="dke_container">
      <ul class="dke_menu-mobile__top-list" role="tree">
        <li class="dke_menu-mobile__top-list-item" role="treeitem">
          <a href="#" class="dke_menu-mobile__top-list-link">
            <div class="dke_menu-mobile__top-list-icon" aria-hidden="true">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_menu-mobile__top-list-text">
              City sightseeing tours
            </span>
          </a>
        </li>
        <li class="dke_menu-mobile__top-list-item" role="treeitem">
          <a href="#" class="dke_menu-mobile__top-list-link">
            <div class="dke_menu-mobile__top-list-icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_menu-mobile__top-list-text">
              Drawbridges night tours
            </span>
          </a>
        </li>
        <li class="dke_menu-mobile__top-list-item" role="treeitem">
          <a href="#" class="dke_menu-mobile__top-list-link">
            <div class="dke_menu-mobile__top-list-icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_menu-mobile__top-list-text">
              Hydrofoils from St.Petersburg
            </span>
          </a>
        </li>
        <li class="dke_menu-mobile__top-list-item" role="treeitem">
          <a href="#" class="dke_menu-mobile__top-list-link">
            <div class="dke_menu-mobile__top-list-icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_menu-mobile__top-list-text">
              Boats rental
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dke_menu-mobile__bottom dke_bottom-menu-mobile">
      <ul class="dke_bottom-menu-mobile__list" role="tree">
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Contacts
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Help center
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Terms of use
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Partnership
            </span>
          </a>
        </li>
        <br>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Boat trips in Moscow
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Boat trips in Prague
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Tours in Phuket
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="City sightseeing tours">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Yachts rental in Dubai
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
