@use '../components/header';
@use '../components/burger';
@use '../components/navbar-drop-down';

@use '../components/navbar-head';
@use '../components/menu-mobile';

@use '../components/languages';
@use '../components/social';
@use '../components/social-item';
@use '../components/contacts';
@use '../components/logo';
@use '../components/menu';
@use '../components/topbar';
@use '../components/navbar';

@use '../components/banner';
@use '../components/advantages';
@use '../components/text-block';
@use '../components/tour-cards';
@use '../components/breadcrumbs';
@use '../components/rent-form';
@use '../components/button';
@use '../components/list';
@use '../components/footer';
