@use '../components/burger';

@use '../components/banner';
@use '../components/advantages';
@use '../components/text-block';
@use '../components/tour-cards';
@use '../components/breadcrumbs';
@use '../components/rent-form';

@use '../components/button';
@use '../components/list';