@use '../components/header';
@use '../components/burger';

@use '../components/navbar';
@use '../components/languages';
@use '../components/social';
@use '../components/social-item';
@use '../components/contacts';
@use '../components/logo';
@use '../components/menu';
@use '../components/topbar';

@use '../components/menu-mobile';




