@use "../colors";

body {
  background-color: rgba(colors.$background3, .5);
}

ul {
  display: flex; 
  flex-wrap: wrap; 
  gap: 2em;
  margin-top: 1em;
  margin-bottom: 2em;

  li {
    flex: 0 1 10%;
    height: 100px;
  }
}