<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ru-prahatrip-cz</title>
  </head>

  <body class="preload">
    {{> "topbar/ru-prahatrip-cz/topbar"}}
    {{> "navbar/ru-prahatrip-cz/navbar"}}

    <div class="dke_menu-mobile _cool-dark" id="dke_menu-mobile">
      <nav class="dke_menu-mobile__nav">
        <ul class="dke_bottom-menu-mobile__list" role="tree">
          <br>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Насладиться видами Праги с воды</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Отправиться в гастрономический
                круиз</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Развлечься на тематической прогулке</span>
            </a>
          </li>
          <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
            <a href="#" class="dke_item-drop-down-mobile__link dke_container">
              <span class="dke_item-drop-down-mobile__text">Организовать собственное
                впечатление</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </body>

</html>