<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nevatrip</title>
  </head>

  <body class="preload">

    <div class="dke_wrapper">
      <div class="dke_container" style="flex-direction: column;">
        <h3>Варианты верстки для разных проектов</h3>
        <ul>
          <li><a href="./nevatrip-ru.html">nevatrip-ru</a></li>
          <li><a href="./en-nevatrip.html">en-nevatrip</a></li>
          <li><a href="./ru-prahatrip-cz.html">ru-prahatrip-cz</a></li>
          <li><a href="./prahatrip-cz.html">prahatrip-cz</a></li>
          <li><a href="./ru-thaibuytrip.html">ru-thaibuytrip</a></li>
          <li><a href="./busguide.html">busguide</a></li>
          <li><a href="./excursion.html">Экскурсия</a></li>
          <li><a href="./faq.html">FAQ</a></li>
          <li><a href="./trip-icons.html">Иконки проекта</a></li>
        </ul>
      </div>
    </div>
  </body>

</html>