<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >

    <title>Nevatrip</title>
  </head>

<body class="preload">

    <div class="dke_wrapper">
      <div class="dke_container">
        {{> "../../chunks/header.hbs"}}
      </div>
      <div>
          <div class="dke_container" style="flex-wrap: wrap;">
            <h3 style="display: block; width: 100%;">Разные варианты меню</h3>
            <ul>
                <li><a href="./nevatrip-ru.html">nevatrip-ru</a></li>
                <li><a href="./en-nevatrip.html">en-nevatrip</a></li>
                <li><a href="./ru-prahatrip-cz.html">ru-prahatrip-cz</a></li>
                <li><a href="./prahatrip-cz.html">prahatrip-cz</a></li>
                <li><a href="./ru-thaibuytrip.html">ru-thaibuytrip</a></li>
                <li><a href="./busguide.html">busguide</a></li>
            </ul>
        </div>
      </div>

      {{> "../../chunks/banner.hbs"}}
      {{> "../../chunks/banner-dark.hbs"}}
      {{> "../../chunks/banner-title.hbs"}}
      {{> "../../chunks/banner-small.hbs"}}
      {{> "../../chunks/advantages.hbs"}}
      {{> "../../chunks/text-block.hbs"}}
      {{> "../../chunks/tour-cards.hbs"}}
      {{> "../../chunks/breadcrumbs.hbs"}}
      {{> "../../chunks/rent-form.hbs"}}

    </div>
  </body>

</html>