<div class="dke_menu-mobile _cool-dark" id="dke_menu-mobile">
    <nav class="dke_menu-mobile__nav">
      <div class="dke_container">
        <ul class="dke_menu-mobile__top-list" role="tree">
          <li class="dke_menu-mobile__top-list-item" role="treeitem">
            <a href="#" class="dke_menu-mobile__top-list-link">
              <div class="dke_menu-mobile__top-list-icon">
                <img src="src/icons/moon.svg" alt="Морские экскурсии">
              </div>
              <span class="dke_menu-mobile__top-list-text">
                Морские экскурсии
              </span>
            </a>
          </li>
          <li class="dke_menu-mobile__top-list-item" role="treeitem">
            <a href="#" class="dke_menu-mobile__top-list-link">
              <div class="dke_menu-mobile__top-list-icon">
                <img src="src/icons/moon.svg" alt="Морские экскурсии">
              </div>
              <span class="dke_menu-mobile__top-list-text">
                Аренда яхт и катеров
              </span>
            </a>
          </li>
          <li class="dke_menu-mobile__top-list-item" role="treeitem">
            <a href="#" class="dke_menu-mobile__top-list-link">
              <div class="dke_menu-mobile__top-list-icon">
                <img src="src/icons/moon.svg" alt="Морские экскурсии">
              </div>
              <span class="dke_menu-mobile__top-list-text">
                Активные развлечения
              </span>
            </a>
          </li>
          <li class="dke_menu-mobile__top-list-item" role="treeitem">
            <a href="#" class="dke_menu-mobile__top-list-link">
              <div class="dke_menu-mobile__top-list-icon">
                <img src="src/icons/moon.svg" alt="Морские экскурсии">
              </div>
              <span class="dke_menu-mobile__top-list-text">
                Материковые экскурсии
              </span>
            </a>
          </li>
        </ul>
      </div>
    <div class="dke_menu-mobile__bottom dke_bottom-menu-mobile">
      <ul class="dke_bottom-menu-mobile__list" role="tree">
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" 
            role="treeitem"
            aria-expanded="false">
          <button class="dke_item-drop-down-mobile__head dke_container" type="button">
            <div class="dke_item-drop-down-mobile__head-link">
              <div class="dke_item-drop-down-mobile__head-icon">
                <img src="src/icons/moon.svg" alt="Морские экскурсии">
              </div>
              <span class="dke_item-drop-down-mobile__head-text">
                Наши подборки
              </span>
            </div>
            <div class="dke_item-drop-down-mobile__head-icon_arrow">
              <img src="src/icons/arrow-white.system.svg" alt="▼">
            </div>
          </button>
          <div class="dke_item-drop-down-mobile__body-wrapper" data-role="drop-down">
            <div class="dke_item-drop-down-mobile__body">
              <ul class="dke_subitem-drop-down__list" role="group">
                <li class="dke_subitem-drop-down__list-item" role="treeitem">
                  <div class="dke_container">
                    <a href="#" class="dke_subitem-drop-down__list-link">
                      Обзорные экскурсии по Пхукету
                    </a>
                  </div>
                </li>
                <li class="dke_subitem-drop-down__list-item" role="treeitem">
                  <div class="dke_container">
                    <a href="#" class="dke_subitem-drop-down__list-link">
                      Обзорные экскурсии
                    </a>
                  </div>
                </li>
                <li class="dke_subitem-drop-down__list-item" role="treeitem">
                  <div class="dke_container">
                    <a href="#" class="dke_subitem-drop-down__list-link">
                      Обзорные экскурсии по Пхукету
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="Морские экскурсии">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Прогулки в Праге
            </span>
          </a>
        </li>
        <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
          <a href="#" class="dke_item-drop-down-mobile__link dke_container">
            <div class="dke_item-drop-down-mobile__icon">
              <img src="src/icons/moon.svg" alt="Морские экскурсии">
            </div>
            <span class="dke_item-drop-down-mobile__text">
              Аренда яхт в Дубае
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
