<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title>Nevatrip</title>
  </head>

  <body>
    <div class="dke_wrapper">
      <div class="dke_container">
        {{> "../chunks/header.hbs"}}
      </div>

      {{> "../chunks/banner.hbs"}}
      {{> "../chunks/banner-dark.hbs"}}
      {{> "../chunks/banner-title.hbs"}}
      {{> "../chunks/banner-small.hbs"}}
      {{> "../chunks/advantages.hbs"}} 
      {{> "../chunks/text-block.hbs"}}
      {{> "../chunks/tour-cards.hbs"}}
      {{> "../chunks/breadcrumbs.hbs"}}
      {{> "../chunks/rent-form.hbs"}}
    </div>
  </body>

</html>