<div class="dke_remark _light">
  <h5>
    Памятка гостя:
  </h5>
  <ol>
    <li>
      После приобретения билета ознакомьтесь с <a href="#">памяткой</a> путешественника под парусами, там есть ответы на все самые актуальные вопросы по прогулке.
    </li>
    <li>
      Дождь — обычное дело в Петербурге, во время которого мы также наслаждаемся прогулкой. Возврат или обмен билетов осуществляется только в случае штормового предупреждения. 
    </li>
    <li>
      На воде всегда прохладно, поэтому даже в летний сезон советуем взять с собой теплую кофту. Самый подходящий вариант: штаны или джинсы, футболка или кофта и удобные кроссовки. 
    </li>
    <li>
      На борт можно приносить еду и напитки. Планируете перекус — возьмите с собой одноразовую посуду и салфетки. Капитан судна имеет право ограничить употребление алкоголя по соображениям безопасности и комфорта всех присутствующих на борту. Также помните, что нельзя брать с собой красное вино и ягодные напитки.
    </li>
  </ol>
</div>