<div class="dke_remark _gray">
  <div class="dke_lead">
    <h4>Совет от организатора</h4>
    <p>
      Маршрут следования ночной экскурсии может быть изменен капитаном судна в зависимости от погодных условий, обстановки на воде и движения других теплоходов. Место остановки теплохода во время разводки мостов выбирается капитаном, исходя из требований безопасности нахождения на воде. 
      В дни государственных праздников РФ — 1, 9 мая и 12 июня — мосты не разводят!
      Все ночные прогулки проводятся независимо от того, осуществляется ли разводка мостов в эту ночь.
    </p>
  </div>
</div>