<div class="dke_remark _blue">
  <h2>
      Важно!
  </h2>
  <p>
    Навигация по маршруту в 2022 году завершена. Открыты предпродажи на 2023 год.
  </p>
  <ol>
    <li>Арендовать яхту в Санкт-Петербурге можно как за несколько дней до прогулки, так и день в день (при наличии свободных яхт). </li>
    <li>Минимальное время аренды парусной яхты — 3 часа. </li>
    <li>Арендовать яхту в Санкт-Петербурге можно как за несколько дней до прогулки, так и день в день (при наличии свободных яхт). </li>
    <li>Минимальное время аренды парусной яхты — 3 часа. </li>
  </ol>
</div>