<header class="dke_topbar">
  <div class="dke_topbar__container dke_container">
    <a class="dke_topbar__logo dke_logo" href="https://ru.thaibuytrip.com/">
      <img class="dke_logo__icon" src="src/icons/default.svg" alt="Логотип Nevatrip">
    </a>
    <h1 class="dke_topbar__title">Сервис по бронированию экскурсий на Пхукете</h1>
    <div class="dke_topbar__languages dke_languages">
      <span class="dke_languages__current" data-role="languagesCurrent">Ru</span>
      <ul class="dke_languages__list" data-role="languagesList">
        <li class="dke_languages__list-item">
          <a href="https://thaibuytrip.com/" class="dke_languages__link">
            En
          </a>
        </li>
      </ul>
    </div>
    <address class="dke_topbar__contacts dke_contacts">
      <div class="dke_contacts__contact">
        <div class="dke_contacts__icon-wrapper">
          <img class="dke_contacts__icon" src="src/icons/email.svg" alt="">
        </div>
        <a class="dke_contacts__link" href="mailto:info@thaibuytrip.com">
          info@thaibuytrip.com
        </a>
      </div>
      <div class="dke_contacts__contact">
        <div class="dke_contacts__icon dke_contacts__icon_telegram-bot"></div>
        <a class="dke_contacts__link" href="https://t.me/NevatripBot">
          чат-бот в telegram
        </a>
      </div>
    </address>
  </div>
</header>