<div class="dke_navbar__head dke_head-navbar">
  <div class="dke_head-navbar__wrapper">
    <div class="dke_navbar__container dke_container">
      <button class="dke_navbar__burger dke_burger dke_burger_white" 
        type="button" 
        aria-haspopup="true" 
        aria-controls="dke_menu-mobile" 
        aria-expanded="false" 
        id="btn-header-burger"
      >
        <svg class="dke_burger__icon" viewBox="0 0 100 100" data-role="burgerIcon">
          <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
          <path class="line middle" d="m 30,50 h 40" />
          <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
        </svg>
      </button>
      <nav class="dke_navbar__nav">
        <ul class="dke_navbar__menu dke_menu">
          <li class="dke_menu__item">
            <a href="https://nevatrip.ru/day?utm_source=nevatrip.ru&utm_medium=black-header" class="dke_menu__link">
              Sightseeing tours
            </a>
          </li>
          <li class="dke_menu__item">
            <a href="https://nevatrip.ru/night?utm_source=nevatrip.ru&utm_medium=black-header" class="dke_menu__link">
              Restaurant boats
            </a>
          </li>
          <li class="dke_menu__item">
            <a href="https://nevatrip.ru/meteors?utm_source=nevatrip.ru&utm_medium=black-header" class="dke_menu__link">
              Festive cruises
            </a>
          </li>
          <li class="dke_menu__item">
            <a href="https://nevatrip.ru/restoran-na-teplohode?utm_source=nevatrip.ru&utm_medium=black-header" class="dke_menu__link">
              Boats rental
            </a>
          </li>
        </ul>
      </nav>
      <ul class="dke_navbar__contacts">
        <button class="dke_navbar__contact">
          <img src="src/icons/chat.svg" alt="Чат" class="dke_navbar__contact-icon">
        </button>
        <a href="tel:+78122449824" class="dke_navbar__contact">
          <img src="src/icons/call.svg" alt="Телефон" class="dke_navbar__contact-icon">
        </a>
      </ul>
    </div>
  </div>
</div>