<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Иконки</title>
  </head>

  <body class="preload">
    <div class="dke_container" style="display: block;">
      <h3>
        Системные иконки
      </h3>
      <ul>
        <li>
          <figure>
            <img src="src/icons/anchor.system.svg" alt="anchor">
            <figcaption>anchor</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/arrow-blue.system.svg" alt="arrow-blue">
            <figcaption>arrow-blue</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/arrow-drop-down.system.svg" alt="arrow-drop-down">
            <figcaption>arrow-drop-down</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/arrow-white.system.svg" alt="arrow-white">
            <figcaption>arrow-white</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/ask-gray.system.svg" alt="ask-gray">
            <figcaption>ask-gray</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/call.system.svg" alt="call">
            <figcaption>call</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/chat.system.svg" alt="chat">
            <figcaption>chat</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/check-mark.system.svg" alt="check-mark">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/child.system.svg" alt="child">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/collapsed-gray.system.svg" alt="collapsed-gray">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/compass.system.svg" alt="compass">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/cross-in-circle.system.svg" alt="cross-in-circle">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/deployed-blue.system.svg" alt="deployed-blue">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/discount.system.svg" alt="discount">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/duration.system.svg" alt="duration">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/food.system.svg" alt="food">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/glass.system.svg" alt="glass">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/guide.system.svg" alt="guide">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/instagram-gray.system.svg" alt="instagram-gray">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/instagram.system.svg" alt="instagram">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/list-arrow.system.svg" alt="list-arrow">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/list-black-arrow.system.svg" alt="list-black-arrow">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/mail.system.svg" alt="mail">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/microphone.system.svg" alt="microphone">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/music.system.svg" alt="music">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/phones.system.svg" alt="phones">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/placemark.system.svg" alt="placemark">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/price.system.svg" alt="price">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/ruble.system.svg" alt="ruble">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/schedule.system.svg" alt="schedule">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/small-dropdown.system.svg" alt="small-dropdown">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/star-small.system.svg" alt="star-small">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/star.system.svg" alt="star">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/steering.system.svg" alt="steering">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/tel.system.svg" alt="tel">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/telegram-bot.system.svg" alt="telegram-bot">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/telegram-gray.system.svg" alt="telegram-gray">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/telegram.system.svg" alt="telegram">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/time.system.svg" alt="time">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/trumpet.system.svg" alt="trumpet">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/vk-gray.system.svg" alt="vk-gray">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/vk.system.svg" alt="vk">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/wc.system.svg" alt="wc">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/youtube-gray.system.svg" alt="youtube-gray">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/youtube.system.svg" alt="youtube">
            <figcaption></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="src/icons/galery-arrow.system.svg" alt="galery-arrow">
            <figcaption></figcaption>
          </figure>
        </li>
      </ul>
      <h3>
        Спрайт
      </h3>
      <ul>
        <li>
          <svg viewBox="0 0 37 36" width="37" height="36" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#boat.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 36 38" width="36" height="38" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#anchor.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 33 33" width="33" height="33" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#lifebuoy.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 35 35" width="35" height="35" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#ticket.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 23 23" width="23" height="23" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#star.sprite" />
          </svg>
        </li>
      </ul>
    </div>
  </body>
</html>