<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Иконки</title>
  </head>

  <body class="preload">
    <div class="dke_container" style="display: block;">
      <h3>
        Системные иконки
      </h3>
      <ul>
        <li>
          <img src="src/icons/anchor.system.svg" alt="anchor">
        </li>
        <li>
          <img src="src/icons/arrow-blue.system.svg" alt="arrow-blue">
        </li>
        <li>
          <img src="src/icons/arrow-drop-down.system.svg" alt="arrow-drop-down">
        </li>
        <li>
          <img src="src/icons/arrow-white.system.svg" alt="arrow-white">
        </li>
        <li>
          <img src="src/icons/ask-gray.system.svg" alt="ask-gray">
        </li>
        <li>
          <img src="src/icons/call.system.svg" alt="call">
        </li>
        <li>
          <img src="src/icons/chat.system.svg" alt="chat">
        </li>
        <li>
          <img src="src/icons/check-mark.system.svg" alt="check-mark">
        </li>
        <li>
          <img src="src/icons/child.system.svg" alt="child">
        </li>
        <li>
          <img src="src/icons/collapsed-gray.system.svg" alt="collapsed-gray">
        </li>
        <li>
          <img src="src/icons/compass.system.svg" alt="compass">
        </li>
        <li>
          <img src="src/icons/cross-in-circle.system.svg" alt="cross-in-circle">
        </li>
        <li>
          <img src="src/icons/deployed-blue.system.svg" alt="deployed-blue">
        </li>
        <li>
          <img src="src/icons/discount.system.svg" alt="discount">
        </li>
        <li>
          <img src="src/icons/duration.system.svg" alt="duration">
        </li>
        <li>
          <img src="src/icons/food.system.svg" alt="food">
        </li>
        <li>
          <img src="src/icons/glass.system.svg" alt="glass">
        </li>
        <li>
          <img src="src/icons/guide.system.svg" alt="guide">
        </li>
        <li>
          <img src="src/icons/instagram-gray.system.svg" alt="instagram-gray">
        </li>
        <li>
          <img src="src/icons/instagram.system.svg" alt="instagram">
        </li>
        <li>
          <img src="src/icons/list-arrow.system.svg" alt="list-arrow">
        </li>
        <li>
          <img src="src/icons/list-black-arrow.system.svg" alt="list-black-arrow">
        </li>
        <li>
          <img src="src/icons/mail.system.svg" alt="mail">
        </li>
        <li>
          <img src="src/icons/microphone.system.svg" alt="microphone">
        </li>
        <li>
          <img src="src/icons/music.system.svg" alt="music">
        </li>
        <li>
          <img src="src/icons/phones.system.svg" alt="phones">
        </li>
        <li>
          <img src="src/icons/placemark.system.svg" alt="placemark">
        </li>
        <li>
          <img src="src/icons/price.system.svg" alt="price">
        </li>
        <li>
          <img src="src/icons/ruble.system.svg" alt="ruble">
        </li>
        <li>
          <img src="src/icons/schedule.system.svg" alt="schedule">
        </li>
        <li>
          <img src="src/icons/small-dropdown.system.svg" alt="small-dropdown">
        </li>
        <li>
          <img src="src/icons/star-small.system.svg" alt="star-small">
        </li>
        <li>
          <img src="src/icons/star.system.svg" alt="star">
        </li>
        <li>
          <img src="src/icons/steering.system.svg" alt="steering">
        </li>
        <li>
          <img src="src/icons/tel.system.svg" alt="tel">
        </li>
        <li>
          <img src="src/icons/telegram-bot.system.svg" alt="telegram-bot">
        </li>
        <li>
          <img src="src/icons/telegram-gray.system.svg" alt="telegram-gray">
        </li>
        <li>
          <img src="src/icons/telegram.system.svg" alt="telegram">
        </li>
        <li>
          <img src="src/icons/time.system.svg" alt="time">
        </li>
        <li>
          <img src="src/icons/trumpet.system.svg" alt="trumpet">
        </li>
        <li>
          <img src="src/icons/vk-gray.system.svg" alt="vk-gray">
        </li>
        <li>
          <img src="src/icons/vk.system.svg" alt="vk">
        </li>
        <li>
          <img src="src/icons/wc.system.svg" alt="wc">
        </li>
        <li>
          <img src="src/icons/youtube-gray.system.svg" alt="youtube-gray">
        </li>
        <li>
          <img src="src/icons/youtube.system.svg" alt="youtube">
        </li>
        <li>
          <img src="src/icons/galery-arrow.system.svg" alt="galery-arrow">
        </li>
      </ul>
      <h3>
        Спрайт
      </h3>
      <ul>
        <li>
          <svg viewBox="0 0 37 36" width="37" height="36" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#boat.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 36 38" width="36" height="38" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#anchor.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 33 33" width="33" height="33" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#lifebuoy.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 35 35" width="35" height="35" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#ticket.sprite" />
          </svg>
        </li>
        <li>
          <svg viewBox="0 0 23 23" width="23" height="23" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="assets/sprites/sprite.svg#star.sprite" />
          </svg>
        </li>
      </ul>
      <h3>
        Прочие
      </h3>
      <ul>
        <li>
          <img src="src/icons/advantages1.svg" alt="advantages1">
        </li>
        <li>
          <img src="src/icons/advantages2.svg" alt="advantages2">
        </li>
        <li>
          <img src="src/icons/advantages3.svg" alt="advantages3">
        </li>
        <li>
          <img src="src/icons/advantages4.svg" alt="advantages4">
        </li>
        <li>
          <img src="src/icons/boat.svg" alt="boat">
        </li>
        <li>
          <img src="src/icons/email.svg" alt="email">
        </li>
        <li>
          <img src="src/icons/footer-pay.svg" alt="footer-pay">
        </li>
        <li>
          <img src="src/icons/heart.svg" alt="heart">
        </li>
        <li>
          <img src="src/icons/instagram-red.svg" alt="instagram-red">
        </li>
        <li>
          <img src="src/icons/moon.svg" alt="moon">
        </li>
        <li>
          <img src="src/icons/nevatrip-logo.svg" alt="nevatrip-logo">
        </li>
        <li>
          <img src="src/icons/phone.svg" alt="phone">
        </li>
        <li>
          <img src="src/icons/prahatrip-logo.svg" alt="prahatrip-logo">
        </li>
        <li>
          <img src="src/icons/telegram-red.svg" alt="telegram-red">
        </li>
        <li>
          <img src="src/icons/thai-logo.svg" alt="thai-logo">
        </li>
        <li>
          <img src="src/icons/vk-red.svg" alt="vk-red">
        </li>
        <li>
          <img src="src/icons/yacht.svg" alt="yacht">
        </li>
        <li>
          <img src="src/icons/youtube-red.svg" alt="youtube-red">
        </li>
      </ul>
    </div>
  </body>
</html>