<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Иконки</title>
  </head>

  <body class="preload">
    <div class="dke_container" style="display: block;">
      <h3>
        Системные иконки
      </h3>
      <ul class="dke_system-icons">
        <li>
          <div class="dke_icon"></div>
          <span>
            instagram
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            vk
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            youtube
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            telegram
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            tel
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            mail
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            arrow-drop-down
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            list-arrow
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            gallery-arrow
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            check-mark
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            cross
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            time
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            telegram-bot
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            question-sign
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            duration
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            compass
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            cross-in-circle
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            collapsed
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            deployed
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            prices
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            price
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            chat
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            call
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            guide
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            wc
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            glass
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            food
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            microphone
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            music
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            phones
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            stops
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            schedule
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            star-rounded
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            placemark
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            anchor
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            steering
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            tour-language
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            discount
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            child
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            metro
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            trumpet
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            ask
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            boat
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            anchor-detailed
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            lifebuoy
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            ticket
          </span>
        </li>
        <li>
          <div class="dke_icon"></div>
          <span>
            star
          </span>
        </li>
      </ul>
      <h3>
        Спрайты
      </h3>
      <ul>
        <li>
          <div class="dke_icon">
            <svg viewBox="0 0 120 50" width="120" height="50" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="assets/sprites/sprite.svg#stars-rating.sprite" />
            </svg>
          </div>
          <span>
            stars-rating.sprite
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>