<header class="dke_topbar">
  <div class="dke_topbar__container dke_container">
    <a class="dke_topbar__logo dke_logo" href="https://nevatrip.ru/">
      <img class="dke_logo__icon" src="src/icons/default.svg" alt="Логотип Nevatrip">
    </a>
    <h1 class="dke_topbar__title">Prague river cruises</h1>
    <div class="dke_topbar__languages dke_languages">
      <span class="dke_languages__current" data-role="languagesCurrent">En</span>
      <ul class="dke_languages__list" data-role="languagesList">
        <li class="dke_languages__list-item">
          <a href="https://cs.prahatrip.cz/" class="dke_languages__link">
            Cs
          </a>
        </li>
        <li class="dke_languages__list-item">
          <a href="https://de.prahatrip.cz/" class="dke_languages__link">
            De
          </a>
        </li>
        <li class="dke_languages__list-item">
          <a href="https://ru.prahatrip.cz/" class="dke_languages__link">
            Ru
          </a>
        </li>
      </ul>
    </div>
    <address class="dke_topbar__contacts dke_contacts">
      <div class="dke_contacts__contact">
        <div class="dke_contacts__icon-wrapper">
          <img class="dke_contacts__icon" src="src/icons/email.svg" alt="">
        </div>
        <a class="dke_contacts__link" href="mailto:info@prahatrip.cz">
          info@prahatrip.cz
        </a>
      </div>
    </address>
  </div>
</header>