@use 'colors';
@use 'variables';
@use 'media';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: variables.$baseFontSize;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.428;
  color: colors.$body;
  background: #fff;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  display: inline-block;
}

.dke_wrapper {
  width: 100%;
  min-height: 100%;
}

.dke_container {
  width: media.$xlContainerWidth;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  display: flex;

  @include media.lg {
    width: media.$lgContainerWidth;
  }

  @include media.md {
    width: media.$mdContainerWidth;
  }

  @include media.sm {
    width: media.$smContainerWidth;
    min-width: 320px;
  }
}


.preload * {
  transition: none !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #edeceb;
  &.short {
    width: 50%;
  }
}

@keyframes hidden-scroll {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}