@use 'colors';
@use 'variables';
@use 'media';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: variables.$baseFontSize;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Open Sans', 'PT Sans', Arial, Helvetica, sans-serif;
  line-height: 1.428;
  color: colors.$body;
  background: #fff;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js_dke_active-modal {
  overflow: hidden;
}

.js_dke_scroll-padding {
  padding-right: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: colors.$main;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.dke_wrapper {
  width: 100%;
  min-height: 100%;
}

.dke_container {
  width: media.$xlContainerWidth;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  display: flex;

  @include media.lg {
    width: media.$lgContainerWidth;
  }

  @include media.md {
    width: media.$mdContainerWidth;
  }

  @include media.sm {
    width: media.$smContainerWidth;
    min-width: 320px;
  }

  &_content {
    flex-direction: column;
    max-width: media.$lgContainerWidth;
  }

  &_small{
    max-width: 708px;
  }
}

.dke_row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-grow: 1;

  @include media.sm {
    flex-direction: column;
  }
}

.dke_col-8 {
  padding: 0 15px;
  position: relative;
  width: 66.667%;

  @include media.sm {
    width: 100%;
  }
}

.dke_col-4 {
  padding: 0 15px;
  position: relative;
  width: 33.333%;

  @include media.sm {
    width: 100%;
  }
}

.preload * {
  transition: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

hr {
  margin: 21px auto;
  border: 0;
  border-top: 1px solid #edeceb;

  &.short {
    width: 50%;
  }
}

.dke_col-4_top{
  @include media.sm {
    order: -1;
  }
}