@use 'colors';
@use 'variables';
@use 'media';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: variables.$baseFontSize;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.428;
  color: colors.$body;
  background: #fff;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dke_wrapper {
  width: 100%;
  height: 100%;
}

.dke_container {
  width: media.$lgContainerWidth;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  height: 100%;
  display: flex;

  @include media.md {
    width: media.$mdContainerWidth;
  }

  @include media.sm {
    width: media.$smContainerWidth;
  }

  @include media.xs {
    width: media.$xsContainerWidth;
    min-width: 360px;
  }
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}
