$main: #59b8e9;
$mainLighter: #e4f6ff;
$body: #312d2d;
$grey: #777777;
$lightGrey: #ededed;
$twilightGrey: #3a4145;
$buttonMain: #fed74b;
$orange: #eb9412;
$lightGray: #7553ff;
$blue: #46aee8;
$darkBlue: #055c8c;
