$main: #59b8e9;
$mainLighter: #e4f6ff;
$body: #312d2d;
$grey: #777777;
$lightGrey: #ededed;
$twilightGrey: #3a4145;
$buttonMain: #fed74b;
$buttonMainHover: #e8b705;
$orange: #eb9412;
$purple: #7553ff;
$blue: #46aee8;
$darkBlue: #055c8c;
$dark2: #272d30;
$dark3: #242424;
$dark4: #2c3438;
$dark5: #363232;
$dark6: #484444;
$dark7: #423e3e;
$gray1: #c8c8c8;
$gray2: #929292;
$blue1: #49aada;
$red: #e02131;
$darkRed: #b11925;
