$main: #59b8e9;
$mainLighter: #e4f6ff;
$body: #312d2d;
$grey: #777777;
$lightGrey: #ededed;
$lightGrey2: #e5e5e5;
$lightGrey3: #f5f5f5;
$lightGrey4: #e3e3e3;
$twilightGrey: #3a4145;
$buttonMain: #fed74b;
$buttonMainHover: #e8b705;
$orange: #eb9412;
$purple: #7553ff;
$blue: #46aee8;
$darkBlue: #055c8c;
$darkBlue2: #1B334E;
$darkBlue3: #25557a;
$darkBlue4: #355363;
$lightBlue: #ebf3ff;
$dark2: #272d30;
$dark3: #242424;
$dark4: #2c3438;
$dark5: #313131;
$dark6: #484444;
$dark7: #423e3e;
$gray1: #c8c8c8;
$gray2: #929292;
$gray3: #b8b8b8;
$gray4: #969696;
$blue1: #49aada;
$red: #e02131;
$darkRed: #b11925;
