//breakpoints

$breakpointWidth1: 550px;

$smWidth: 575px;
$mdWidth: 767px;
$lgWidth: 991px;
$xlWidth: 1199px;

//containers
$smContainerWidth: 100%;
$mdContainerWidth: 750px;
$lgContainerWidth: 970px;
$xlContainerWidth: 1170px;

// mixins

@mixin xs {
  @media screen and (max-width: $smWidth) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: $mdWidth) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $lgWidth) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $xlWidth) {
    @content;
  }
}
