@use '../../node_modules/normalize.css/normalize.css';
@use 'base';

@use './components/topbar';
@use './components/navbar';
@use './components/burger';
@use './components/logo';
@use './components/list';
@use './components/input.scss';
@use './components/languages';
@use './components/social';
@use './components/social-item';
@use './components/contacts';
@use './components/menu';
@use './components/menu-mobile';
@use './components/item-drop-down-mobile';
@use './components/banner';
@use './components/price-box';
@use './components/button';
@use './components/breadcrumbs';
@use './components/footer';

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans&display=swap';
