<div class="dke_menu-mobile _cool-dark" id="dke_menu-mobile">
  <nav class="dke_menu-mobile__nav">
    <ul class="dke_bottom-menu-mobile__list" role="tree">
      <br>
      <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
        <a href="#" class="dke_item-drop-down-mobile__link dke_container">
          <span class="dke_item-drop-down-mobile__text">Насладиться видами Праги с воды</span>
        </a>
      </li>
      <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
        <a href="#" class="dke_item-drop-down-mobile__link dke_container">
          <span class="dke_item-drop-down-mobile__text">Отправиться в гастрономический круиз</span>
        </a>
      </li>
      <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
        <a href="#" class="dke_item-drop-down-mobile__link dke_container">
          <span class="dke_item-drop-down-mobile__text">Развлечься на тематической прогулке</span>
        </a>
      </li>
      <li class="dke_bottom-menu-mobile__list-item dke_item-drop-down-mobile" role="treeitem">
        <a href="#" class="dke_item-drop-down-mobile__link dke_container">
          <span class="dke_item-drop-down-mobile__text">Организовать собственное впечатление</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
