<h2>Баннер с названием (маленький)</h2>
<section class="dke_banner dke_banner_small">
  <div class="dke_container">
    <a href="#">
      <h1 class="dke_banner__title">All cruises along the Vlatva</h1>
    </a>
  </div>
  <div class="dke_banner__background dke_banner__background_darken">
    <img src="../../images/banner3-bg.jpg" alt="Баннер" />
  </div>
</section>