<h2>Баннер с названием</h2>
<section class="dke_banner">
  <div class="dke_container">
    <h1 class="dke_banner__title">Автобусные экскурсии по Казани</h1>
  </div>
  <div class="dke_banner__background dke_banner__background_darken">
    <img src="../../images/banner2-bg.jpg" alt="Баннер" />
  </div>
</section>