<section class="dke_banner {{#if modifier}}dke_banner_{{modifier}} {{/if}}">
  <div class="dke_container {{#if container}}dke_container_{{container}} {{/if}}">
    <h1 class="dke_banner__title">
      Метеор в Петергоф
    </h1>
  </div>
  <div class="dke_banner__background dke_banner__background_darken">
    <img src="src/images/petergof-bg.jpg" alt="Баннер" />
  </div>
</section>