<h2>Баннер с темной карточкой</h2>
<section class="dke_banner">
  <div class="dke_container">
    <div class="dke_banner__box dke_banner__box_dark">
      <a href="#">
        <h2 class="dke_banner__title">
          Hallo!
        </h2>
      </a>
      <p>
        Wir sind Prahatrip, Reiseservice von Wasser-Touren in Prag. Seit vielen Jahren sorgt unser Team dafür, dass sich
        Gäste in die tschechische Hauptstadt verlieben. Machen Sie mit uns eine echte Schifffahrt auf der Moldau und
        genießen
        Sie die ungewöhnlichen Aussichten auf die Stadt vom Wasser aus.
      </p>
      <p>
        Sie können mehr über die Prag Bootstouren in der englischen Version der Prahatrip-Website erfahren oder sofort
        eine der Optionen in der folgenden Liste auswählen.
      </p>
      <div class="dke_price-box">
        <a href="#" class="dke_button">
          Zur englischen Version wechseln
        </a>
      </div>
    </div>
  </div>
  <div class="dke_banner__background">
    <img src="../../images/banner-bg.jpg" alt="Баннер"/>
  </div>
</section>