<section class="dke_banner dke_banner_small dke_banner_vlog">
  <picture class="dke_banner__background">
    <source srcset="src/images/card.jpg" media="(max-width: 767px)">
    <img src="src/images/petergof-bg.jpg" alt="petergof">
  </picture>
</section>