<h2>Баннер</h2>
<section class="dke_banner">
  <div class="dke_container">
    <div class="dke_banner__box">
      <a href="/excursion.html">
        <h2 class="dke_banner__title">
          «Прорубаем окно в Европу» — индивидуальная пешеходная экскурсия
        </h2>
      </a>
      <ul class="dke_list">
        <li>
          Для индвидуальных групп до 6 человек
        </li>
        <li>
          Авторский маршрут от команды Nevatrip
        </li>
        <li>
          Прогулка по «Золотому треугольнику» Петербурга
        </li>
        <li>
          Экскурсия от самых лучших гидов Северной столицы
        </li>
        <li>
          Рекомендуем как туристам, так и петербуржцам
        </li>
      </ul>
      <div class="dke_price-box">
        <div class="dke_price">
          4490
          <img src="src/icons/ruble.system.svg" alt="Рубль">
        </div>
        <a href="#" class="dke_button">
          Подробнее
        </a>
      </div>
    </div>
  </div>
  <div class="dke_banner__background">
    <img src="../../images/banner-bg.jpg" alt="Баннер" />
  </div>
</section>