<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nevatrip-ru</title>
  </head>

  <body class="preload">
    {{> "topbar/nevatrip-ru/topbar"}}
    {{> "navbar/nevatrip-ru/navbar"}}
    {{> "menu-mobile/nevatrip-ru/menu-mobile"}}

    {{> "banner/banner-title" modifier="bottom-title" container="content"}}
    {{> "breadcrumbs" container="content"}}
    {{> "tour-top-info"}}
    <div class="dke_container dke_container_content">
      <hr>
    </div>
    {{> "tour-bottom"}}
    {{> "modal"}}

    {{> "live-notify"}}

    {{> "footer"}}
  </body>

</html>